<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.reportesbs.dao.CargaOperacionesMapper">
	<resultMap id="BaseResultMap"
		type="com.cardif.satelite.model.reportesbs.CargaOperaciones">
		<id column="COD_CARGA_OPERACIONES" property="codCargaOperaciones" 
			jdbcType="DECIMAL" />
		<result column="COD_PROCESO_ARCHIVO" property="codProcesoArchivo"
			jdbcType="DECIMAL" />
		<result column="ESTADO" property="estado" jdbcType="CHAR" />
		<result column="TIPO_SEGURO" property="tipoSeguro" jdbcType="CHAR" />
		<result column="TIPO_REASEGURO" property="tipoReaseguro"
			jdbcType="CHAR" />
		<result column="NOM_SOCIO" property="nomSocio" jdbcType="VARCHAR" />
		<result column="RUC_SOCIO" property="rucSocio" jdbcType="CHAR" />
		<result column="COD_PRODUCTO" property="codProducto" jdbcType="DECIMAL" />
		<result column="PRODUCTO" property="producto" jdbcType="VARCHAR" />
		<result column="NOM_EMPRESA" property="nomEmpresa" jdbcType="VARCHAR" />
		<result column="COD_SBS" property="codSbs" jdbcType="CHAR" />
		<result column="TIPO_OPERACION" property="tipoOperacion"
			jdbcType="CHAR" />
		<result column="BO" property="bo" jdbcType="DECIMAL" />
		<result column="PLANILLA" property="planilla" jdbcType="VARCHAR" />
		<result column="FECHA_MOVIMIENTO" property="fechaMovimiento"
			jdbcType="TIMESTAMP" />
		<result column="NOMBRE_ASEGURADO" property="nombreAsegurado"
			jdbcType="VARCHAR" />
		<result column="NUM_POLIZA" property="numPoliza" jdbcType="VARCHAR" />
		<result column="NUM_SINIESTRO" property="numSiniestro"
			jdbcType="VARCHAR" />
		<result column="COMPROBANTE_CAJA" property="comprobanteCaja"
			jdbcType="VARCHAR" />
		<result column="RIESGO" property="riesgo" jdbcType="CHAR" />
		<result column="PRIMA_PAGAR_REACEDIDOS" property="primaPagarReacedidos"
			jdbcType="DECIMAL" />
		<result column="PRIMA_PAGAR_REACEPTADOS" property="primaPagarReaceptados"
			jdbcType="DECIMAL" />
		<result column="SINIESTRO_PAGAR_REASEDIDOS" property="siniestroPagarReasedidos"
			jdbcType="DECIMAL" />
		<result column="SINIESTRO_PAGAR_REAACEPTADOS" property="siniestroPagarReaaceptados"
			jdbcType="DECIMAL" />
		<result column="CUENTAS_COBRAR" property="cuentasCobrar"
			jdbcType="DECIMAL" />
		<result column="CUENTAS_PAGAR" property="cuentasPagar"
			jdbcType="DECIMAL" />
		<result column="DESCUENTOS_COMISIONES_REA" property="descuentosComisionesRea"
			jdbcType="DECIMAL" />
		<result column="SALDO_DEUDOR" property="saldoDeudor" jdbcType="DECIMAL" />
		<result column="SALDO_ACREEEDOR" property="saldoAcreeedor"
			jdbcType="DECIMAL" />
		<result column="USUARIO_CREADOR" property="usuarioCreador"
			jdbcType="VARCHAR" />
		<result column="FECHA_CREADOR" property="fechaCreador"
			jdbcType="TIMESTAMP" />
		<result column="USUARIO_MODIFICADOR" property="usuarioModificador"
			jdbcType="VARCHAR" />
		<result column="FECHA_MODIFICADOR" property="fechaModificador"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="BaseResultMap2"
		type="com.cardif.satelite.model.reportesbs.CargaOperaciones">
		<result column="NOM_EMPRESA" property="nomEmpresa" jdbcType="VARCHAR" />
		<result column="NOM_SOCIO" property="nomSocio" jdbcType="VARCHAR" />
		<result column="PRODUCTO" property="producto" jdbcType="VARCHAR" />
		<result column="PLANILLA" property="planilla" jdbcType="VARCHAR" />
		<result column="PRIMA_PAGAR_REACEDIDOS" property="primaPagarReacedidos"
			jdbcType="DECIMAL" />
		<result column="PRIMA_PAGAR_REACEPTADOS" property="primaPagarReaceptados"
			jdbcType="DECIMAL" />
		<result column="SINIESTRO_PAGAR_REASEDIDOS" property="siniestroPagarReasedidos"
			jdbcType="DECIMAL" />
		<result column="SINIESTRO_PAGAR_REAACEPTADOS" property="siniestroPagarReaaceptados"
			jdbcType="DECIMAL" />
		<result column="CUENTAS_COBRAR" property="cuentasCobrar"
			jdbcType="DECIMAL" />
		<result column="CUENTAS_PAGAR" property="cuentasPagar"
			jdbcType="DECIMAL" />
		<result column="DESCUENTOS_COMISIONES_REA" property="descuentosComisionesRea"
			jdbcType="DECIMAL" />
		<result column="SALDO_DEUDOR" property="saldoDeudor" jdbcType="DECIMAL" />
		<result column="SALDO_ACREEEDOR" property="saldoAcreeedor"
			jdbcType="DECIMAL" />
	</resultMap>

	
	<resultMap id="BaseResultMap3"
		type="com.cardif.satelite.model.reportesbs.CargaOperaciones">		
		<result column="NOMBRE_ASEGURADO" property="nombreAsegurado"
			jdbcType="VARCHAR" />				
		<result column="NUM_POLIZA" property="numPoliza" jdbcType="VARCHAR" />
		<result column="NUM_SINIESTRO" property="numSiniestro"
			jdbcType="VARCHAR" />	
		<result column="PRIMA_PAGAR_REACEDIDOS" property="primaPagarReacedidos"
			jdbcType="DECIMAL" />
		<result column="PRIMA_PAGAR_REACEPTADOS" property="primaPagarReaceptados"
			jdbcType="DECIMAL" />
		<result column="SINIESTRO_PAGAR_REASEDIDOS" property="siniestroPagarReasedidos"
			jdbcType="DECIMAL" />
		<result column="SINIESTRO_PAGAR_REAACEPTADOS" property="siniestroPagarReaaceptados"
			jdbcType="DECIMAL" />
		<result column="CUENTAS_COBRAR" property="cuentasCobrar"
			jdbcType="DECIMAL" />
		<result column="CUENTAS_PAGAR" property="cuentasPagar"
			jdbcType="DECIMAL" />
		<result column="DESCUENTOS_COMISIONES_REA" property="descuentosComisionesRea"
			jdbcType="DECIMAL" />
		<result column="SALDO_DEUDOR" property="saldoDeudor" jdbcType="DECIMAL" />
		<result column="SALDO_ACREEEDOR" property="saldoAcreeedor"
			jdbcType="DECIMAL" />	
	</resultMap>
	
	
	<resultMap id="BaseResultMap4"
		type="com.cardif.satelite.model.reportesbs.CargaOperaciones">		
		<result column="PRIMA_PAGAR_REACEDIDOS" property="primaPagarReacedidos"
			jdbcType="DECIMAL" />
		<result column="PRIMA_PAGAR_REACEPTADOS" property="primaPagarReaceptados"
			jdbcType="DECIMAL" />
		<result column="SINIESTRO_PAGAR_REASEDIDOS" property="siniestroPagarReasedidos"
			jdbcType="DECIMAL" />
		<result column="SINIESTRO_PAGAR_REAACEPTADOS" property="siniestroPagarReaaceptados"
			jdbcType="DECIMAL" />
		<result column="CUENTAS_COBRAR" property="cuentasCobrar"
			jdbcType="DECIMAL" />
		<result column="CUENTAS_PAGAR" property="cuentasPagar"
			jdbcType="DECIMAL" />
		<result column="DESCUENTOS_COMISIONES_REA" property="descuentosComisionesRea"
			jdbcType="DECIMAL" />
		<result column="SALDO_DEUDOR" property="saldoDeudor" jdbcType="DECIMAL" />
		<result column="SALDO_ACREEEDOR" property="saldoAcreeedor"
			jdbcType="DECIMAL" />	
	</resultMap>
	
		
	<delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
		delete from CARGA_OPERACIONES
		where COD_PROCESO_ARCHIVO = #{codProcesoArchivo,jdbcType=DECIMAL}
	</delete>
	
</mapper>