<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.reportesbs.dao.LogErroresReportesMapper">
	<resultMap id="BaseResultMap"
		type="com.cardif.satelite.model.reportesbs.LogErroresReportes">
		<id column="COD_LOG_ERRORES" property="codLogErrores" jdbcType="DECIMAL" />
		<result column="COD_REPORTE" property="codReporte" jdbcType="DECIMAL" />
		<result column="NOM_REPORTE" property="nomReporte" jdbcType="VARCHAR" />
		<result column="GLOSA" property="glosa" jdbcType="VARCHAR" />
		<result column="BO_PLANILLA" property="boPlanilla" jdbcType="VARCHAR" />
		<result column="DESCRIPCION" property="descripcion" jdbcType="VARCHAR" />
		<result column="USUARIO_CREADOR" property="usuarioCreador"
			jdbcType="VARCHAR" />
		<result column="FECHA_CREADO" property="fechaCreado" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		COD_LOG_ERRORES, COD_REPORTE, NOM_REPORTE, GLOSA, BO_PLANILLA, DESCRIPCION,
		USUARIO_CREADOR,
		FECHA_CREADO
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Short">
		select 'false' as QUERYID,
		<include refid="Base_Column_List" />
		from LOG_ERRORES_REPORTES
		where COD_LOG_ERRORES = #{codLogErrores,jdbcType=DECIMAL}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
		delete from LOG_ERRORES_REPORTES
		where COD_LOG_ERRORES = #{codLogErrores,jdbcType=DECIMAL}
	</delete>
	<delete id="deleteByCodReporte" parameterType="java.lang.Long">
		delete from LOG_ERRORES_REPORTES
		where COD_REPORTE = #{codReporte,jdbcType=DECIMAL}
	</delete>

	<insert id="insert"
		parameterType="com.cardif.satelite.model.reportesbs.LogErroresReportes">

		<selectKey resultType="java.lang.Long" keyProperty="codLogErrores"
			order="BEFORE">
			SELECT SEC_COD_LOG_ERRORES_REPORTES.NEXTVAL FROM DUAL
		</selectKey>

		insert into LOG_ERRORES_REPORTES (COD_LOG_ERRORES, COD_REPORTE,
		NOM_REPORTE,
		GLOSA, BO_PLANILLA, DESCRIPCION,
		USUARIO_CREADOR, FECHA_CREADO)
		values (#{codLogErrores,jdbcType=DECIMAL}, #{codReporte,jdbcType=DECIMAL},
		#{nomReporte,jdbcType=VARCHAR},
		#{glosa,jdbcType=VARCHAR}, #{boPlanilla,jdbcType=VARCHAR}, #{descripcion,jdbcType=VARCHAR},
		#{usuarioCreador,jdbcType=VARCHAR}, #{fechaCreado,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
		parameterType="com.cardif.satelite.model.reportesbs.LogErroresReportes">
		insert into LOG_ERRORES_REPORTES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="codLogErrores != null">
				COD_LOG_ERRORES,
			</if>
			<if test="codReporte != null">
				COD_REPORTE,
			</if>
			<if test="nomReporte != null">
				NOM_REPORTE,
			</if>
			<if test="glosa != null">
				GLOSA,
			</if>
			<if test="boPlanilla != null">
				BO_PLANILLA,
			</if>
			<if test="descripcion != null">
				DESCRIPCION,
			</if>
			<if test="usuarioCreador != null">
				USUARIO_CREADOR,
			</if>
			<if test="fechaCreado != null">
				FECHA_CREADO,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="codLogErrores != null">
				#{codLogErrores,jdbcType=DECIMAL},
			</if>
			<if test="codReporte != null">
				#{codReporte,jdbcType=DECIMAL},
			</if>
			<if test="nomReporte != null">
				#{nomReporte,jdbcType=VARCHAR},
			</if>
			<if test="glosa != null">
				#{glosa,jdbcType=VARCHAR},
			</if>
			<if test="boPlanilla != null">
				#{boPlanilla,jdbcType=VARCHAR},
			</if>
			<if test="descripcion != null">
				#{descripcion,jdbcType=VARCHAR},
			</if>
			<if test="usuarioCreador != null">
				#{usuarioCreador,jdbcType=VARCHAR},
			</if>
			<if test="fechaCreado != null">
				#{fechaCreado,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.cardif.satelite.model.reportesbs.LogErroresReportes">
		update LOG_ERRORES_REPORTES
		<set>
			<if test="codReporte != null">
				COD_REPORTE = #{codReporte,jdbcType=DECIMAL},
			</if>
			<if test="nomReporte != null">
				NOM_REPORTE = #{nomReporte,jdbcType=VARCHAR},
			</if>
			<if test="glosa != null">
				GLOSA = #{glosa,jdbcType=VARCHAR},
			</if>
			<if test="boPlanilla != null">
				BO_PLANILLA = #{boPlanilla,jdbcType=VARCHAR},
			</if>
			<if test="descripcion != null">
				DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
			</if>
			<if test="usuarioCreador != null">
				USUARIO_CREADOR = #{usuarioCreador,jdbcType=VARCHAR},
			</if>
			<if test="fechaCreado != null">
				FECHA_CREADO = #{fechaCreado,jdbcType=TIMESTAMP},
			</if>
		</set>
		where COD_LOG_ERRORES = #{codLogErrores,jdbcType=DECIMAL}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.cardif.satelite.model.reportesbs.LogErroresReportes">
		update LOG_ERRORES_REPORTES
		set COD_REPORTE = #{codReporte,jdbcType=DECIMAL},
		NOM_REPORTE = #{nomReporte,jdbcType=VARCHAR},
		GLOSA = #{glosa,jdbcType=VARCHAR},
		BO_PLANILLA = #{boPlanilla,jdbcType=VARCHAR},
		DESCRIPCION = #{descripcion,jdbcType=VARCHAR},
		USUARIO_CREADOR = #{usuarioCreador,jdbcType=VARCHAR},
		FECHA_CREADO = #{fechaCreado,jdbcType=TIMESTAMP}
		where COD_LOG_ERRORES = #{codLogErrores,jdbcType=DECIMAL}
	</update>
</mapper>