<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.reportesbs.dao.RepParametroMapper">

	<resultMap id="BaseResultMap"
		type="com.cardif.satelite.model.reportesbs.Parametro">
		<id column="COD_PARAMETRO" jdbcType="VARCHAR" property="codParametro" />
		<result column="COD_VALOR" jdbcType="VARCHAR" property="codValor" />
		<result column="DESCRIPCION_VALOR" jdbcType="VARCHAR" property="descripcion" />
		<result column="ESTADO" jdbcType="NUMERIC" property="estado" />
		<result column="NUM_ORDEN" jdbcType="NUMERIC" property="numOrden" />
	</resultMap>

</mapper>