<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.reportesbs.dao.ProcesoArchivoMapper">

	<resultMap id="BaseResultMap"
		type="com.cardif.satelite.model.reportesbs.ProcesoArchivoTransaccional">
		<id column="COD_PROCESO_ARCHIVO" property="codProcesoArchivo"
			jdbcType="DECIMAL" />
		<result column="NOM_ARCHIVO_ORIGINAL" property="nomArchivoOriginal"
			jdbcType="VARCHAR" />
		<result column="NOM_ARCHIVO_PROCESADO" property="nomArchivoProcesado"
			jdbcType="VARCHAR" />
		<result column="NUM_REGISTROS" property="numRegistros"
			jdbcType="DECIMAL" />
		<result column="SUM_IMPORTE_PRIMA_PAGAR" property="sumImportePrimaPagar"
			jdbcType="DECIMAL" />
		<result column="SUM_IMPORTE_SINIESTRO_COBRAR" property="sumImporteSiniestroCobrar"
			jdbcType="DECIMAL" />
		<result column="ESTADO" property="estado" jdbcType="VARCHAR" />
		<result column="ESTADO_SOLICITUD" property="codEstadoSolicitud"
			jdbcType="VARCHAR" />
		<result column="USU_PROCESO" property="usuProceso" jdbcType="VARCHAR" />
		<result column="FEC_PROCESO" property="fecProceso" jdbcType="DATE" />
		<result column="USU_CREACION" property="usuCreacion" jdbcType="VARCHAR" />
		<result column="FEC_CREACION" property="fecCreacion" jdbcType="DATE" />
		<result column="USU_MODIFICACION" property="usuModificacion"
			jdbcType="VARCHAR" />
		<result column="FEC_MODIFICACION" property="fecModificacion"
			jdbcType="DATE" />
		<result column="SUM_IMPORTE_PRIMA_COBRAR" property="sumImportePrimaCobrar"
			jdbcType="DECIMAL" />
		<result column="SUM_IMPORTE_SINIESTRO_PAGAR" property="sumImporteSiniestroPagar"
			jdbcType="DECIMAL" />
	</resultMap>

	<resultMap id="BaseResultMapArchivo"
		type="com.cardif.satelite.model.reportesbs.ProcesoArchivo">
		<id column="COD_PROCESO_ARCHIVO" property="codProceso" jdbcType="NUMERIC" />
		<result column="NOM_ARCHIVO_PROCESADO" property="nomArchivoProceso"
			jdbcType="NVARCHAR" />
		<result column="NOM_ARCHIVO_ORIGINAL" property="nomArchivoUsuario"
			jdbcType="NVARCHAR" />
		<result column="FEC_CREACION" property="fechaCreador" jdbcType="DATE" />
		<result column="ESTADO" property="codEstado" jdbcType="NVARCHAR" />
		<result column="DESCRIPCION_VALOR" property="estadoDescripcion" jdbcType="NVARCHAR" />
		
		<result column="FEC_PROCESO" property="fechaProceso" jdbcType="NVARCHAR" />
		<result column="USU_PROCESO" property="usuarioProceso"
			jdbcType="NVARCHAR" />
		<result column="NUM_REGISTROS" property="cantRegistros"
			jdbcType="NUMERIC" />
		<result column="ESTADO_SOLICITUD" property="codEstadoSolicitud"
			jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		COD_PROCESO_ARCHIVO, NOM_ARCHIVO_ORIGINAL, NOM_ARCHIVO_PROCESADO, NUM_REGISTROS,
		SUM_IMPORTE_PRIMA_PAGAR, SUM_IMPORTE_SINIESTRO_COBRAR,
		ESTADO,ESTADO_SOLICITUD, USU_PROCESO, FEC_PROCESO,
		USU_CREACION, FEC_CREACION, USU_MODIFICACION, FEC_MODIFICACION,
		SUM_IMPORTE_PRIMA_COBRAR,
		SUM_IMPORTE_SINIESTRO_PAGAR
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.math.BigDecimal">
		select 'false' as QUERYID,
		<include refid="Base_Column_List" />
		from PROCESO_ARCHIVO
		where COD_PROCESO_ARCHIVO = #{codProcesoArchivo,jdbcType=DECIMAL}
	</select>

	<update id="updateByPrimaryKey"
		parameterType="com.cardif.satelite.model.reportesbs.ProcesoArchivoTransaccional">
		update PROCESO_ARCHIVO
		set NOM_ARCHIVO_ORIGINAL = #{nomArchivoOriginal,jdbcType=VARCHAR},
		NOM_ARCHIVO_PROCESADO = #{nomArchivoProcesado,jdbcType=VARCHAR},
		NUM_REGISTROS = #{numRegistros,jdbcType=DECIMAL},
		SUM_IMPORTE_PRIMA_PAGAR = #{sumImportePrimaPagar,jdbcType=DECIMAL},
		SUM_IMPORTE_SINIESTRO_COBRAR =
		#{sumImporteSiniestroCobrar,jdbcType=DECIMAL},
		ESTADO = #{estado,jdbcType=VARCHAR},
		ESTADO_SOLICITUD = #{codEstadoSolicitud,jdbcType=VARCHAR},
		USU_PROCESO = #{usuProceso,jdbcType=VARCHAR},
		FEC_PROCESO = #{fecProceso,jdbcType=TIMESTAMP},
		USU_CREACION = #{usuCreacion,jdbcType=VARCHAR},
		FEC_CREACION = #{fecCreacion,jdbcType=TIMESTAMP},
		USU_MODIFICACION = #{usuModificacion,jdbcType=VARCHAR},
		FEC_MODIFICACION = #{fecModificacion,jdbcType=TIMESTAMP},
		SUM_IMPORTE_PRIMA_COBRAR = #{sumImportePrimaCobrar,jdbcType=DECIMAL},
		SUM_IMPORTE_SINIESTRO_PAGAR =
		#{sumImporteSiniestroPagar,jdbcType=DECIMAL}
		where COD_PROCESO_ARCHIVO = #{codProcesoArchivo,jdbcType=DECIMAL}
	</update>

</mapper>