<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.cardif.satelite.reportesbs.dao.ReporteSBSModeloUnoDetalleMapper">

	<resultMap id="Parametros"
		type="com.cardif.satelite.model.reportesbs.ParametrosSBSModeloUnoDetalle">

		<result column="COD_PROCESO_PARAMETRO" property="codProcesoParametro"
			jdbcType="NVARCHAR" />
		<result column="COD_SOCIO" property="codSocio" jdbcType="NVARCHAR" />
		<result column="COD_TIPO_CONTRATO" property="codTipoContrato"
			jdbcType="NVARCHAR" />
		<result column="COD_TIPO_SEGURO" property="codTipoSeguro"
			jdbcType="NVARCHAR" />
		<result column="COD_TIPO_REASEGURO" property="codTipoReaseguro"
			jdbcType="NVARCHAR" />
		<result column="COD_EMPRESA" property="codEmpresa" jdbcType="NVARCHAR" />
		<result column="COD_PRODUCTO" property="codProducto" jdbcType="NVARCHAR" />
		<result column="COD_TIPO_MOVIMIENTO" property="codTipoMovimiento"
			jdbcType="NVARCHAR" />
		<result column="COD_TIPO_CUENTA" property="codTipoCuenta"
			jdbcType="NVARCHAR" />
		<result column="COD_SBS" property="codSBS" jdbcType="NVARCHAR" />
		<result column="RIESGO" property="riesgo" jdbcType="NVARCHAR" />
		<result column="DETALLE_CUENTA" property="detalleCuenta"
			jdbcType="NVARCHAR" />
		<result column="CUENTA_SALDO_SOLES" property="cuentaSaldoSoles"
			jdbcType="NVARCHAR" />
		<result column="CUENTA_SALDO_DOLARES" property="cuentaSaldoDolares"
			jdbcType="NVARCHAR" />
		<result column="CUENTA_DESCUENTO_SOLES" property="cuentaDescuentoSoles"
			jdbcType="NVARCHAR" />
		<result column="CUENTA_DESCUENTO_DOLARES" property="cuentaDescuentoDolares"
			jdbcType="NVARCHAR" />
		<result column="CUENTA_PRIMA_SOLES" property="cuentaPrimaSoles"
			jdbcType="NVARCHAR" />
		<result column="CUENTA_PRIMA_DOLARES" property="cuentaPrimaDolares"
			jdbcType="NVARCHAR" />
	</resultMap>

	<resultMap id="ParametroSBSMAP"
		type="com.cardif.satelite.model.reportesbs.Parametro">

		<result column="COD_PARAMETRO" property="codParametro"
			jdbcType="NVARCHAR" />
		<result column="COD_VALOR" property="codValor" jdbcType="NVARCHAR" />
		<result column="DESCRIPCION_VALOR" property="descripcion"
			jdbcType="NVARCHAR" />
		<result column="ESTADO" property="estado" jdbcType="DECIMAL" />

	</resultMap>

	<resultMap id="ParametroSBSMAP2"
		type="com.cardif.satelite.model.reportesbs.Parametro">

		<result column="COD_PARAMETRO" property="codParametro"
			jdbcType="NVARCHAR" />
		<result column="COD_VALOR" property="codValor" jdbcType="NVARCHAR" />
		<result column="DESCRIPCION_VALOR" property="descripcion"
			jdbcType="NVARCHAR" />
		<result column="ESTADO" property="estado" jdbcType="DECIMAL" />
		<result column="NUM_ORDEN" property="numOrden" jdbcType="DECIMAL" />

	</resultMap>

	<resultMap id="EmpresaSBSMAP" type="com.cardif.satelite.model.reportesbs.Empresa">

		<result column="COD_EMPRESA" property="codEmpresa" jdbcType="NVARCHAR" />
		<result column="ESTADO" property="estado" jdbcType="NVARCHAR" />
		<result column="COD_SBS" property="codSbs" jdbcType="NVARCHAR" />
		<result column="DESCRIPCION" property="descripcion" jdbcType="NVARCHAR" />

	</resultMap>

	<resultMap id="ProductoSBSMAP" type="com.cardif.satelite.model.reportesbs.Producto">

		<result column="COD_PRODUCTO" property="codProducto" jdbcType="NVARCHAR" />
		<result column="ESTADO" property="estado" jdbcType="NVARCHAR" />
		<result column="DESCRIPCION" property="descripcion" jdbcType="NVARCHAR" />

	</resultMap>

	<resultMap id="SocioSBSMAP" type="com.cardif.satelite.model.reportesbs.Socio">

		<result column="COD_SOCIO" property="codSocio" jdbcType="NVARCHAR" />
		<result column="ESTADO" property="estado" jdbcType="NVARCHAR" />
		<result column="RUC" property="ruc" jdbcType="NVARCHAR" />
		<result column="DESCRIPCION" property="descripcion" jdbcType="NVARCHAR" />

	</resultMap>


	<sql id="Base_Column_List_ParametroSBSMAP">
		COD_PARAMETRO,COD_VALOR,DESCRIPCION_VALOR,ESTADO,NUM_ORDEN
	</sql>

	<sql id="Base_Column_List_EmpresaSBSMAP">
		COD_EMPRESA,ESTADO,COD_SBS,DESCRIPCION
	</sql>

	<sql id="Base_Column_List_ProductoSBSMAP">
		COD_PRODUCTO,ESTADO,DESCRIPCION
	</sql>

	<sql id="Base_Column_List_SocioSBSMAP">
		COD_SOCIO,ESTADO,RUC,DESCRIPCION
	</sql>

	<select id="selectListParametroByPrimaryKey" parameterType="java.lang.String"
		resultMap="ParametroSBSMAP2">
		SELECT
		<include refid="Base_Column_List_ParametroSBSMAP" />
		FROM PARAMETRO
		WHERE ESTADO = 1
		<if test="codParametro != null">
			AND COD_PARAMETRO LIKE #{codParametro,jdbcType=VARCHAR}
		</if>

	</select>

	<select id="selectParametroByPrimaryKey" parameterType="java.lang.String"
		resultMap="ParametroSBSMAP">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Thu Dec 19 
			11:47:23 COT 2013. -->
		SELECT
		<include refid="Base_Column_List_ParametroSBSMAP" />
		FROM PARAMETRO
		WHERE COD_PARAMETRO = #{codParametro,jdbcType=VARCHAR}
	</select>

	<select id="selectSocioByPrimaryKey" parameterType="java.lang.Long"
		resultMap="SocioSBSMAP">
		SELECT
		<include refid="Base_Column_List_SocioSBSMAP" />
		FROM SOCIO
		WHERE COD_SOCIO = #{codSocio,jdbcType=NUMERIC}
	</select>

	<select id="selectProductoByPrimaryKey" parameterType="java.lang.Long"
		resultMap="ProductoSBSMAP">
		SELECT
		<include refid="Base_Column_List_ProductoSBSMAP" />
		FROM PRODUCTO
		WHERE COD_PRODUCTO = #{codProducto,jdbcType=NUMERIC}
	</select>

	<select id="selectEmpresaByPrimaryKey" parameterType="java.lang.Long"
		resultMap="EmpresaSBSMAP">
		SELECT
		<include refid="Base_Column_List_EmpresaSBSMAP" />
		FROM EMPRESA
		WHERE COD_EMPRESA = #{codEmpresa,jdbcType=NUMERIC}
	</select>


	<select id="selectParametros" resultMap="Parametros">
		SELECT
		COD_PROCESO_PARAMETRO,
		COD_SOCIO,
		COD_TIPO_CONTRATO,
		COD_TIPO_SEGURO,
		COD_TIPO_REASEGURO,
		COD_EMPRESA,
		COD_PRODUCTO,
		COD_TIPO_MOVIMIENTO,
		COD_TIPO_CUENTA,
		COD_SBS,
		RIESGO,
		DETALLE_CUENTA,
		CUENTA_SALDO_SOLES,
		CUENTA_SALDO_DOLARES,
		CUENTA_DESCUENTO_SOLES,
		CUENTA_DESCUENTO_DOLARES,
		CUENTA_PRIMA_SOLES,
		CUENTA_PRIMA_DOLARES
		FROM PROCESO_PARAMETRO
		WHERE COD_ESTADO = '0601' AND COD_TIPO_SEGURO =
		'0102'
		AND ( SUBSTR(CUENTA_SALDO_SOLES,0,2) = '24' OR
		SUBSTR(CUENTA_SALDO_DOLARES,0,2) = '24'
		OR SUBSTR(CUENTA_SALDO_SOLES,0,2) = '14' OR
		SUBSTR(CUENTA_SALDO_DOLARES,0,2) = '14' )
		ORDER BY
		COD_EMPRESA,COD_TIPO_REASEGURO
	</select>

	<insert id="insertSelective"
		parameterType="com.cardif.satelite.model.reportesbs.ReporteSBSModeloUnoDetalle">
		<selectKey resultType="java.lang.Long" keyProperty="codigoReporte"
			order="BEFORE">
			SELECT SEC_COD_REPORTE.NEXTVAL FROM DUAL
		</selectKey>

		insert into REPORTES (COD_REPORTE, ESTADO, COD_TIPO_REPORTE,
		NOM_FIRMANTE_1, NOM_FIRMANTE_2,
		CARGO_FIRMANTE_1,CARGO_FIRMANTE_2,PERIODO_ANIO,PERIODO_TRIMESTRE,TIPO_CAMBIO,USUARIO_CREADOR,FECHA_CREADO)
		values (#{codigoReporte,jdbcType=NUMERIC}, #{estado,jdbcType=VARCHAR},
		#{modeloRepore,jdbcType=VARCHAR}, #{nomFirmanteUno,jdbcType=VARCHAR},
		#{nomFirmanteDos,jdbcType=VARCHAR},
		#{cargoFirmanteUno,jdbcType=VARCHAR} ,
		#{cargoFirmanteDos,jdbcType=VARCHAR} ,
		#{periodoAnio,jdbcType=VARCHAR},
		#{periodoTrimestre,jdbcType=VARCHAR}, #{tipoCambio,jdbcType=NUMERIC}, #{usuarioCreador,jdbcType=VARCHAR} ,
		#{fechaCreado,jdbcType=DATE} )

	</insert>

	<resultMap id="firmanteCargo"
		type="com.cardif.satelite.model.reportesbs.FirmanteCargo">

		<result column="CODIGO_FIRMANTE" property="codFirmante"
			jdbcType="NVARCHAR" />
		<result column="FIRMANTE" property="nomFirmante" jdbcType="NVARCHAR" />
		<result column="COD_CARGO" property="codCargo" jdbcType="NVARCHAR" />
		<result column="CARGO" property="nomCargo" jdbcType="NVARCHAR" />

	</resultMap>

</mapper>