<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.reportesbs.dao.SaldosMapper" >
  <resultMap id="BaseResultMap" type="com.cardif.satelite.model.reportesbs.Saldos" >
    <result column="COD_SALDOS" property="codSaldos" jdbcType="DECIMAL" />
    <result column="ANIO" property="anio" jdbcType="VARCHAR" />
    <result column="PRIMA_PAGAR_REA_CEDIDO" property="primaPagarReaCedido" jdbcType="DECIMAL" />
    <result column="PRIMA_COBRAR_REA_ACEPTADO" property="primaCobrarReaAceptado" jdbcType="DECIMAL" />
    <result column="SINIESTRO_PAGAR_REA_CEDIDO" property="siniestroPagarReaCedido" jdbcType="DECIMAL" />
    <result column="SINIESTRO_COBRAR_REA_ACEPTADO" property="siniestroCobrarReaAceptado" jdbcType="DECIMAL" />
    <result column="OTRAS_COBRAR_REA_CEDIDOS" property="otrasCobrarReaCedidos" jdbcType="DECIMAL" />
    <result column="OTRAS_COBRAR_REA_ACEPTADO" property="otrasCobrarReaAceptado" jdbcType="DECIMAL" />
    <result column="DESCUENTOS_COMISIONES" property="descuentosComisiones" jdbcType="DECIMAL" />
    <result column="TIPO_SEGURO" property="tipoSeguro" jdbcType="VARCHAR" />
    <result column="COD_EMPRESA" property="codEmpresa" jdbcType="VARCHAR" />
    <result column="TIPO_REASEGURO" property="tipoReaseguro" jdbcType="VARCHAR" />
    <result column="MODELO_MONEDA" property="modeloMoneda" jdbcType="VARCHAR" />
    <result column="MONEDA" property="moneda" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.cardif.satelite.model.reportesbs.Saldos" >
    insert into SALDOS (COD_SALDOS, ANIO, PRIMA_PAGAR_REA_CEDIDO, 
      PRIMA_COBRAR_REA_ACEPTADO, SINIESTRO_PAGAR_REA_CEDIDO, 
      SINIESTRO_COBRAR_REA_ACEPTADO, OTRAS_COBRAR_REA_CEDIDOS, 
      OTRAS_COBRAR_REA_ACEPTADO, DESCUENTOS_COMISIONES, 
      TIPO_SEGURO, COD_EMPRESA, TIPO_REASEGURO, 
      MODELO_MONEDA, MONEDA)
    values (#{codSaldos,jdbcType=DECIMAL}, #{anio,jdbcType=VARCHAR}, #{primaPagarReaCedido,jdbcType=DECIMAL}, 
      #{primaCobrarReaAceptado,jdbcType=DECIMAL}, #{siniestroPagarReaCedido,jdbcType=DECIMAL}, 
      #{siniestroCobrarReaAceptado,jdbcType=DECIMAL}, #{otrasCobrarReaCedidos,jdbcType=DECIMAL}, 
      #{otrasCobrarReaAceptado,jdbcType=DECIMAL}, #{descuentosComisiones,jdbcType=DECIMAL}, 
      #{tipoSeguro,jdbcType=VARCHAR}, #{codEmpresa,jdbcType=VARCHAR}, #{tipoReaseguro,jdbcType=VARCHAR}, 
      #{modeloMoneda,jdbcType=VARCHAR}, #{moneda,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cardif.satelite.model.reportesbs.Saldos" >
    insert into SALDOS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codSaldos != null" >
        COD_SALDOS,
      </if>
      <if test="anio != null" >
        ANIO,
      </if>
      <if test="primaPagarReaCedido != null" >
        PRIMA_PAGAR_REA_CEDIDO,
      </if>
      <if test="primaCobrarReaAceptado != null" >
        PRIMA_COBRAR_REA_ACEPTADO,
      </if>
      <if test="siniestroPagarReaCedido != null" >
        SINIESTRO_PAGAR_REA_CEDIDO,
      </if>
      <if test="siniestroCobrarReaAceptado != null" >
        SINIESTRO_COBRAR_REA_ACEPTADO,
      </if>
      <if test="otrasCobrarReaCedidos != null" >
        OTRAS_COBRAR_REA_CEDIDOS,
      </if>
      <if test="otrasCobrarReaAceptado != null" >
        OTRAS_COBRAR_REA_ACEPTADO,
      </if>
      <if test="descuentosComisiones != null" >
        DESCUENTOS_COMISIONES,
      </if>
      <if test="tipoSeguro != null" >
        TIPO_SEGURO,
      </if>
      <if test="codEmpresa != null" >
        COD_EMPRESA,
      </if>
      <if test="tipoReaseguro != null" >
        TIPO_REASEGURO,
      </if>
      <if test="modeloMoneda != null" >
        MODELO_MONEDA,
      </if>
      <if test="moneda != null" >
        MONEDA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codSaldos != null" >
        #{codSaldos,jdbcType=DECIMAL},
      </if>
      <if test="anio != null" >
        #{anio,jdbcType=VARCHAR},
      </if>
      <if test="primaPagarReaCedido != null" >
        #{primaPagarReaCedido,jdbcType=DECIMAL},
      </if>
      <if test="primaCobrarReaAceptado != null" >
        #{primaCobrarReaAceptado,jdbcType=DECIMAL},
      </if>
      <if test="siniestroPagarReaCedido != null" >
        #{siniestroPagarReaCedido,jdbcType=DECIMAL},
      </if>
      <if test="siniestroCobrarReaAceptado != null" >
        #{siniestroCobrarReaAceptado,jdbcType=DECIMAL},
      </if>
      <if test="otrasCobrarReaCedidos != null" >
        #{otrasCobrarReaCedidos,jdbcType=DECIMAL},
      </if>
      <if test="otrasCobrarReaAceptado != null" >
        #{otrasCobrarReaAceptado,jdbcType=DECIMAL},
      </if>
      <if test="descuentosComisiones != null" >
        #{descuentosComisiones,jdbcType=DECIMAL},
      </if>
      <if test="tipoSeguro != null" >
        #{tipoSeguro,jdbcType=VARCHAR},
      </if>
      <if test="codEmpresa != null" >
        #{codEmpresa,jdbcType=VARCHAR},
      </if>
      <if test="tipoReaseguro != null" >
        #{tipoReaseguro,jdbcType=VARCHAR},
      </if>
      <if test="modeloMoneda != null" >
        #{modeloMoneda,jdbcType=VARCHAR},
      </if>
      <if test="moneda != null" >
        #{moneda,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>