/JavaServerFaces/nbproject/private/
/PrimeFacesMyBatis/nbproject/private/
/DemoPrimaFaces/build/
/DemoPrimaFaces/dist/
/PrimeFacesMyBatis/build/
/JavaServerFaces/build/
/PrimeFacesMyBatis/dist/
/Proyecto/target/