<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.moduloimpresion.dao.DetalleLoteImpresionMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.moduloimpresion.DetalleLoteImpresion">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="LOTE_IMPRESION" jdbcType="NUMERIC" property="loteImpresion" />
		<result column="DETALLE_TRAMA_DIARIA" jdbcType="NUMERIC" property="detalleTramaDiaria" />
		<result column="IMPRESO_CORRECTAMENTE" jdbcType="VARCHAR" property="impresoCorrectamente" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID, LOTE_IMPRESION, DETALLE_TRAMA_DIARIA, IMPRESO_CORRECTAMENTE
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from DETALLE_LOTE_IMPRESION
		where ID = #{id,jdbcType=NUMERIC}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from DETALLE_LOTE_IMPRESION
		where ID = #{id,jdbcType=NUMERIC}
	</delete>
	
	<insert id="insert" parameterType="com.cardif.satelite.model.moduloimpresion.DetalleLoteImpresion">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE">
			SELECT DETALLE_LOTE_IMPRESION_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into DETALLE_LOTE_IMPRESION (ID, LOTE_IMPRESION, DETALLE_TRAMA_DIARIA, IMPRESO_CORRECTAMENTE) 
		values (#{id,jdbcType=NUMERIC},	#{loteImpresion,jdbcType=NUMERIC}, #{detalleTramaDiaria,jdbcType=NUMERIC}, #{impresoCorrectamente,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.cardif.satelite.model.moduloimpresion.DetalleLoteImpresion">
		update DETALLE_LOTE_IMPRESION
		<set>
			<if test="loteImpresion != null">
				LOTE_IMPRESION = #{loteImpresion,jdbcType=NUMERIC},
			</if>
			<if test="detalleTramaDiaria != null">
				DETALLE_TRAMA_DIARIA = #{detalleTramaDiaria,jdbcType=NUMERIC},
			</if>
			<if test="impresoCorrectamente != null">
				IMPRESO_CORRECTAMENTE = #{impresoCorrectamente,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=NUMERIC}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.cardif.satelite.model.moduloimpresion.DetalleLoteImpresion">
		update DETALLE_LOTE_IMPRESION 
		set LOTE_IMPRESION = #{loteImpresion,jdbcType=NUMERIC}, 
			DETALLE_TRAMA_DIARIA = #{detalleTramaDiaria,jdbcType=NUMERIC}, 
			IMPRESO_CORRECTAMENTE = #{impresoCorrectamente,jdbcType=VARCHAR} 
		where ID = #{id,jdbcType=NUMERIC}
	</update>
</mapper>