<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.moduloimpresion.dao.NumeroDocValoradoMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.moduloimpresion.NumeroDocValorado">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="ANIO" jdbcType="NUMERIC" property="anio" />
		<result column="NUM_CERTIFICADO" jdbcType="VARCHAR" property="numCertificado" />
		<result column="TIPO_CERTIFICADO" jdbcType="VARCHAR" property="tipoCertificado" />
		<result column="PRODUCTO" jdbcType="NUMERIC" property="producto" />
		<result column="DISPONIBLE" jdbcType="NUMERIC" property="disponible" />
		<result column="NRO_POLIZA_REL" jdbcType="VARCHAR" property="nroPolizaRel" />
		<result column="ANULADO" jdbcType="NUMERIC" property="anulado" />
	</resultMap> 
	
	<sql id="Base_Column_List">
		ID, ANIO, NUM_CERTIFICADO, TIPO_CERTIFICADO, PRODUCTO, DISPONIBLE, NRO_POLIZA_REL, ANULADO
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from NUMERO_DOC_VALORADO
		where ID = #{id,jdbcType=NUMERIC}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from NUMERO_DOC_VALORADO
		where ID = #{id,jdbcType=NUMERIC}
	</delete>
	
	<insert id="insert" parameterType="com.cardif.satelite.model.moduloimpresion.NumeroDocValorado">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
			SELECT NUMERO_DOC_VALORADO_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into NUMERO_DOC_VALORADO (ID, ANIO, NUM_CERTIFICADO, TIPO_CERTIFICADO, PRODUCTO, DISPONIBLE, NRO_POLIZA_REL, ANULADO)
		values (#{id,jdbcType=NUMERIC},	#{anio,jdbcType=NUMERIC}, #{numCertificado,jdbcType=VARCHAR}, #{tipoCertificado,jdbcType=VARCHAR},
		#{producto,jdbcType=NUMERIC}, #{disponible,jdbcType=NUMERIC}, #{nroPolizaRel,jdbcType=VARCHAR}, #{anulado,jdbcType=NUMERIC})
	</insert>
	
	<insert id="insertSelective" parameterType="com.cardif.satelite.model.moduloimpresion.NumeroDocValorado">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
			SELECT NUMERO_DOC_VALORADO_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into NUMERO_DOC_VALORADO
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="anio != null">
				ANIO,
			</if>
			<if test="numCertificado != null">
				NUM_CERTIFICADO,
			</if>
			<if test="tipoCertificado != null">
				TIPO_CERTIFICADO,
			</if>
			<if test="producto != null">
				PRODUCTO,
			</if>
			<if test="disponible != null">
				DISPONIBLE,
			</if>
			<if test="nroPolizaRel != null">
				NRO_POLIZA_REL,
			</if>
			<if test="anulado != null">
				ANULADO,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="anio != null">
				#{anio,jdbcType=NUMERIC},
			</if>
			<if test="numCertificado != null">
				#{numCertificado,jdbcType=VARCHAR},
			</if>
			<if test="tipoCertificado != null">
				#{tipoCertificado,jdbcType=VARCHAR},
			</if>
			<if test="producto != null">
				#{producto,jdbcType=NUMERIC},
			</if>
			<if test="disponible != null">
				#{disponible,jdbcType=NUMERIC},
			</if>
			<if test="nroPolizaRel != null">
				#{nroPolizaRel,jdbcType=VARCHAR},
			</if>
			<if test="anulado != null">
				#{anulado,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.cardif.satelite.model.moduloimpresion.NumeroDocValorado">
		update NUMERO_DOC_VALORADO
		<set>
			<if test="anio != null">
				ANIO = #{anio,jdbcType=NUMERIC},
			</if>
			<if test="numCertificado != null">
				NUM_CERTIFICADO = #{numCertificado,jdbcType=VARCHAR},
			</if>
			<if test="tipoCertificado != null">
				TIPO_CERTIFICADO = #{tipoCertificado,jdbcType=VARCHAR},
			</if>
			<if test="producto != null">
				PRODUCTO = #{producto,jdbcType=NUMERIC},
			</if>
			<if test="disponible != null">
				DISPONIBLE = #{disponible,jdbcType=NUMERIC},
			</if>
			<if test="nroPolizaRel != null">
				NRO_POLIZA_REL = #{nroPolizaRel,jdbcType=VARCHAR},
			</if>
			<if test="anulado != null">
				ANULADO = #{anulado,jdbcType=NUMERIC},
			</if>
		</set>
		where ID = #{id,jdbcType=NUMERIC}
	</update>
			
	<update id="updateByPrimaryKey" parameterType="com.cardif.satelite.model.moduloimpresion.NumeroDocValorado">
		update NUMERO_DOC_VALORADO
		set ANIO = #{anio,jdbcType=NUMERIC},
			NUM_CERTIFICADO = #{numCertificado,jdbcType=VARCHAR},
			TIPO_CERTIFICADO = #{tipoCertificado,jdbcType=VARCHAR},
			PRODUCTO = #{producto,jdbcType=NUMERIC},
			DISPONIBLE = #{disponible,jdbcType=NUMERIC},
			NRO_POLIZA_REL = #{nroPolizaRel,jdbcType=VARCHAR},
			ANULADO = #{anulado,jdbcType=NUMERIC}
		where ID = #{id,jdbcType=NUMERIC}
	</update>
</mapper>