<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ClienteMapper">
 
    <resultMap id="clienteModel" type="Cliente">
	    <id column="codigo" property="codigo"/>
		<result column="nombreCliente" property="nombreCliente" />
		    <result column="nombreContacto" property="nombreContacto" />
		        <result column="ruc" property="ruc" />
		            <result column="email" property="email" />
		                <result column="telefono" property="telefono" />
		<association property="estado" column="idEstado" javaType="Estado">
			<id column="idEstado" property="idEstado" />
			<result column="descripcion" property="descripcion" />
		</association>                
    </resultMap>
    <select id="getClientes" resultMap="clienteModel">
      SELECT clie.codigo,
            clie.nombreCliente,
            clie.nombreContacto,
            clie.ruc,
            clie.email,
            clie.telefono,
            est.idEstado,
            est.descripcion 
            from clientes clie inner join estado est on clie.idEstado=est.idEstado
    </select>
    <insert id="insertarCliente" useGeneratedKeys="true" keyProperty="codigo" parameterType="Cliente">
        INSERT INTO CLIENTES(
            nombreCliente,
            nombreContacto,
            ruc,
            email,
            telefono,
            idEstado,usuarioCreador,fechaCreacion) VALUES(#{nombreCliente},#{nombreContacto},#{ruc},#{email},#{telefono},#{estado.idEstado},#{usuarioCreador},#{fechaCreacion});
    </insert>
    <select id="selectCliente" resultType="Cliente" resultMap="clienteModel" parameterType="int">
        SELECT clie.codigo,
            clie.nombreCliente,
            clie.nombreContacto,
            clie.ruc,
            clie.email,
            clie.telefono,
            est.idEstado,
            est.descripcion  
            from clientes clie inner join estado est on clie.idEstado=est.idEstado where clie.codigo=#{codigo}
        
    </select>
    <update id="actualizarCliente" parameterType="Cliente">
        UPDATE CLIENTES
        SET 
            nombreCliente=#{nombreCliente},
            nombreContacto=#{nombreContacto},
            ruc=#{ruc},
            email=#{email},
            telefono=#{telefono},
            idEstado=#{estado.idEstado},usuarioModificador=#{usuarioModificador},
            fechaModificacion=#{fechaModificacion} WHERE codigo=#{codigo};
    </update>
    <delete id="deleteCliente" parameterType="int">
			DELETE  FROM  CLIENTES WHERE codigo=#{codigo}
		
	</delete>
</mapper>