<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="HistorialContratoMapper">
	<resultMap type="HistorialContrato" id="hcModel">
		<id column="idHistorialContrato" property="idHistorialContrato" />
		<result column="sueldo" property="sueldo" />
		<result column="otrosCostos" property="otrosCostos" />
		<result column="fechaInicio" property="fechaInicio" />
		<result column="fechaFin" property="fechaFin" />
		<result column="usuarioCreador" property="usuarioCreador" />
		<result column="fechaCreacion" property="fechaCreacion" />
		<result column="usuarioModificador" property="usuarioModificador" />
		<result column="fechaModificacion" property="fechaModificacion" />
		<association javaType="Usuario" column="idUsuario"
			property="usuario">
			<id column="idUsuario" property="idUsuario" />
		</association>
		<association property="rol" column="idRol" javaType="Rol">
			<id column="idRol" property="idRol" />
			<result column="descripcion" property="descripcion" />
		</association>
		<association property="tipoContrato" column="idTipoContrato"
			javaType="TipoContrato">
			<id column="idTipoContrato" property="idTipoContrato" />
			<result column="descContrato" property="descripcion" />
		</association>
		<association property="estado" column="codigoEstado"
			javaType="Estado">
			<id column="codigoEstado" property="idEstado" />
			<result column="descEstado" property="descripcion" />
		</association>
	</resultMap>


	<select id="selectByIdUser" resultMap="hcModel" parameterType="int">

	SELECT
		hc.idHistorialContrato,
		hc.sueldo,
		hc.otrosCostos,
		hc.fechaInicio,
		hc.fechaFin,
		hc.usuarioCreador,
		hc.fechaCreacion,
		hc.usuarioModificador,
		hc.fechaModificacion,
		usu.idUsuario,
		rol.idRol,
		rol.descripcion,
		tc.idTipoContrato,
		tc.descripcion as descContrato,
		est.idEstado as codigoEstado,
		est.descripcion  as  descEstado
		FROM historial_contrato hc
		inner join usuarios usu on hc.idPersonal=usu.idUsuario
		inner join rol rol on hc.idRol=rol.idRol
		inner join tipo_contrato tc on hc.idTipoContrato=tc.idTipoContrato
		inner join estado est on hc.idEstado =est.idEstado
	   where usu.idUsuario=#{idUsuario}                       
	</select>
	<insert id="insertHC"   useGeneratedKeys="true" keyProperty="idHistorialContrato" parameterType="HistorialContrato">
		<!-- <selectKey keyProperty="idHistorialContrato" resultType="int"
			order="BEFORE">
			SELECT NEXTVAL('historialcontrato_sequence')
		</selectKey>-->
		INSERT INTO historial_contrato(
		idHistorialContrato, idPersonal, idRol, idTipoContrato,
		sueldo, otrosCostos, fechaInicio, fechaFin, fechaCreacion,
		idEstado, usuarioCreador)
		VALUES (#{idHistorialContrato},#{usuario.idUsuario}, #{rol.idRol},
		#{tipoContrato.idTipoContrato},
		#{sueldo}, #{otrosCostos}, #{fechaInicio}, #{fechaFin},#{fechaCreacion},
		#{estado.idEstado}, #{usuarioCreador})

	</insert>

	<select id="selectByPkHc" 
		resultMap="hcModel" parameterType="int">
		SELECT
		hc.idHistorialContrato,
		hc.sueldo,
		hc.otrosCostos,
		hc.fechaInicio,
		hc.fechaFin,
		hc.usuarioCreador,
		hc.fechaCreacion,
		hc.usuarioModificador,
		hc.fechaModificacion,
		usu.idUsuario,
		rol.idRol,
		rol.descripcion,
		tc.idTipoContrato,
		tc.descripcion as descContrato,
		est.idEstado as codigoEstado,
		est.descripcion  as  descEstado
		FROM historial_contrato hc
		inner join usuarios usu on hc.idPersonal=usu.idUsuario
		inner join rol rol on hc.idRol=rol.idRol
		inner join tipo_contrato tc on hc.idTipoContrato=tc.idTipoContrato
		inner join estado est on hc.idEstado =est.idEstado
		where hc.idHistorialContrato=#{idHistorialContrato}
	</select>
	<update id="actualizarHC" parameterType="HistorialContrato">
		UPDATE historial_contrato
		SET idPersonal=#{usuario.idUsuario}, idRol=#{rol.idRol},
		idTipoContrato=#{tipoContrato.idTipoContrato},
		sueldo=#{sueldo}, 
		otrosCostos=#{otrosCostos},
		fechaInicio=#{fechaInicio}, fechaFin=#{fechaFin},
		fechaModificacion=#{fechaModificacion}, usuarioModificador=#{usuarioModificador},
		idEstado=#{estado.idEstado}
		where idHistorialContrato=#{idHistorialContrato}
	</update>
</mapper>