<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.soat.dao.BitacoraSoatMapper">

	<insert id="insert" parameterType="com.cardif.satelite.soat.model.BitacoraSoat">

		insert into BITACORA_SOAT (NOMBRE_BASE_DATOS, NOMBRE_TABLA, OPERACION,
		USUARIO, FECHA, VALOR_INICIAL,
		VALOR_FINAL)
		values (#{nombreBaseDatos,jdbcType=VARCHAR}, #{nombreTabla,jdbcType=VARCHAR}, #{operacion,jdbcType=VARCHAR},
		#{usuario,jdbcType=VARCHAR}, #{fecha,jdbcType=TIMESTAMP}, #{valorInicial,jdbcType=VARCHAR},
		#{valorFinal,jdbcType=VARCHAR})
	</insert>

</mapper>