<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.configuracion.dao.CanalProductoMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.CanalProducto">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="NOMBRE_CANAL" property="nombreCanal" jdbcType="VARCHAR" />
		<result column="CONCILIAR" property="conciliar" jdbcType="NUMERIC" />
		<result column="ESTADO" property="estado" jdbcType="NUMERIC" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID, NOMBRE_CANAL, CONCILIAR, ESTADO
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from CANAL_PRODUCTO
		where ID = #{id,jdbcType=DECIMAL}
	</select>
</mapper>