<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cardif.satelite.suscripcion.dao.ControlPaqueteMapper">

	<resultMap  id="BaseMapper" type="com.cardif.satelite.model.ControlPaquete">
		<id column="ID" property="id" jdbcType="NUMERIC" />
		<result column="FECHA_INI_EJECUCION" property="fechaInicio" jdbcType="TIMESTAMP" />		
		<result column="FECHA_FIN_EJECUCION" property="fechaFin" jdbcType="TIMESTAMP" />		
		<result column="FLAG_EJECUCION" property="flagEjecucion" jdbcType="NUMERIC" />		
		<result column="ESTADO" property="estado" jdbcType="NUMERIC" />
		<result column="USUARIO_CREACION" property="usuarioCreacion" jdbcType="VARCHAR" />		
		<result column="FECHA_CREACION" property="fechaCreacion" jdbcType="TIMESTAMP" />		
		<result column="TOTAL_REGISTROS" property="totalRegistro" jdbcType="NUMERIC" />		
		<result column="REGISTROS_CORRECTOS" property="registroCorrecto" jdbcType="NUMERIC" />
		<result column="REGISTROS_OBSERVADOS" property="registroObservado" jdbcType="NUMERIC" />
		<result column="PROCESO" property="proceso" jdbcType="NUMERIC" />	
		<result column="ID_TRAMA" property="idTrama" jdbcType="NUMERIC" />
		
	</resultMap> 
	
	<resultMap  id="BaseMapperControl" type="com.cardif.satelite.model.ControlPaquete">
		<result column="FECHA_INI_EJECUCION" property="fechaInicio" jdbcType="TIMESTAMP" />		
		<result column="FECHA_FIN_EJECUCION" property="fechaFin" jdbcType="TIMESTAMP" />		
		<result column="FLAG_EJECUCION" property="flagEjecucion" jdbcType="NUMERIC" />		
		<result column="ESTADO" property="estado" jdbcType="NUMERIC" />
		<result column="USUARIO_CREACION" property="usuarioCreacion" jdbcType="VARCHAR" />		
		<result column="FECHA_CREACION" property="fechaCreacion" jdbcType="TIMESTAMP" />		
		<result column="TOTAL_REGISTROS" property="totalRegistro" jdbcType="NUMERIC" />		
		<result column="REGISTROS_CORRECTOS" property="registroCorrecto" jdbcType="NUMERIC" />
		<result column="REGISTROS_OBSERVADOS" property="registroObservado" jdbcType="NUMERIC" />
		<result column="PROCESO" property="proceso" jdbcType="NUMERIC" />	
		<result column="ID_TRAMA" property="idTrama" jdbcType="NUMERIC" />
		<result column="ESTADO_PROCESO" property="estadoProceso" jdbcType="VARCHAR" />
		<result column="MENSAJE" property="mensaje" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		FECHA_INI_EJECUCION, FECHA_FIN_EJECUCION, FLAG_EJECUCION, ESTADO, USUARIO_CREACION, FECHA_CREACION, TOTAL_REGISTROS, REGISTROS_CORRECTOS, REGISTROS_OBSERVADOS,PROCESO,ID_TRAMA
	</sql>
		
	<select id="selectAll" resultMap="BaseMapper">
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM CONTROL_PAQUETE
	
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseMapper" >
	
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM CONTROL_PAQUETE 
		 
		 WHERE ESTADO = #{id,jdbcType=NUMERIC}
		 
	</select>
	
	<insert id="insert">
			insert into CONTROL_PAQUETE
			
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="fechaInicio != null">
				FECHA_INI_EJECUCION,
				</if>		
				<if test="fechaFin != null" >
				FECHA_FIN_EJECUCION,
				</if>		
				<if test="flagEjecucion != null" >
				FLAG_EJECUCION,
				</if>		
				<if test="estado != null" >
				ESTADO,
				</if>
				<if test="usuarioCreacion != null">
				USUARIO_CREACION,
				</if>		
				<if test="fechaCreacion != null" >
				FECHA_CREACION,
				</if>		
				<if test="totalRegistro != null" >
				TOTAL_REGISTROS,
				</if>		
				<if test="registroCorrecto != null" >
				REGISTROS_CORRECTOS,
				</if>
				<if test="registroObservado != null" >
				REGISTROS_OBSERVADOS,
				</if>	
				<if test="proceso != null">
				PROCESO,
				</if>
				<if test="idTrama != null">
				ID_TRAMA,
				</if>
				
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="fechaInicio != null">
					#{fechaInicio,jdbcType=TIMESTAMP},
				</if>		
				<if test="fechaFin != null" >
					#{fechaFin,jdbcType=TIMESTAMP},
				</if>		
				<if test="flagEjecucion != null" >
					#{flagEjecucion,jdbcType=NUMERIC},
				</if>		
				<if test="estado != null" >
					#{estado,jdbcType=NUMERIC},
				</if>
				<if test="usuarioCreacion != null">
					#{usuarioCreacion,jdbcType=VARCHAR},
				</if>		
				<if test="fechaCreacion != null" >
					#{fechaCreacion,jdbcType=TIMESTAMP},
				</if>		
				<if test="totalRegistro != null" >
					#{totalRegistro,jdbcType=NUMERIC},
				</if>		
				<if test="registroCorrecto != null" >
					#{registroCorrecto,jdbcType=NUMERIC},
				</if>
				<if test="registroObservado != null" >
					#{registroObservado,jdbcType=NUMERIC},
				</if>
				<if test="proceso != null">
					#{proceso,jdbcType=NUMERIC},
				</if>
				<if test="idTrama != null">
					#{idTrama,jdbcType=NUMERIC},
				</if>
			</trim>
	</insert>
	
	<update id="update">
			update CONTROL_PAQUETE
			<set>
				<if test="fechaInicio != null">
					FECHA_INI_EJECUCION = #{fechaInicio,jdbcType=TIMESTAMP},
				</if>		
				<if test="fechaFin != null" >
					FECHA_FIN_EJECUCION = #{fechaFin,jdbcType=TIMESTAMP},
				</if>		
				<if test="flagEjecucion != null" >
					FLAG_EJECUCION = #{flagEjecucion,jdbcType=NUMERIC},
				</if>		
				<if test="estado != null" >
					ESTADO = #{estado,jdbcType=NUMERIC},
				</if>
				<if test="usuarioCreacion != null">
					USUARIO_CREACION = #{usuarioCreacion,jdbcType=VARCHAR},
				</if>		
				<if test="fechaCreacion != null" >
					FECHA_CREACION = #{fechaCreacion,jdbcType=TIMESTAMP},
				</if>		
				<if test="totalRegistro != null" >
					TOTAL_REGISTROS = #{totalRegistro,jdbcType=NUMERIC},
				</if>		
				<if test="registroCorrecto != null" >
					REGISTROS_CORRECTOS = #{registroCorrecto,jdbcType=NUMERIC},
				</if>
				<if test="registroObservado != null" >
					REGISTROS_OBSERVADOS = #{registroObservado,jdbcType=NUMERIC},
				</if>
				<if test="proceso != null" >
					PROCESO = #{proceso,jdbcType=NUMERIC},
				</if>
					<if test="idTrama != null">
					ID_TRAMA = #{idTrama,jdbcType=NUMERIC},
				</if>
			</set>
			WHERE ID = #{id,jdbcType=NUMERIC}
	</update>
</mapper>