<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.configuracion.dao.DepartamentoMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.Departamento">
		<id column="COD_DEPARTAMENTO" property="codDepartamento" jdbcType="VARCHAR" />
		<result column="NOMBRE_DEPARTAMENTO" property="nombreDepartamento" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		COD_DEPARTAMENTO, NOMBRE_DEPARTAMENTO
	</sql>
	
	<select id="selectAllDepartamentos" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from DEPARTAMENTO	
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from DEPARTAMENTO
		where COD_DEPARTAMENTO = #{codDepartamento,jdbcType=VARCHAR}
	</select>
</mapper>