<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.tesoreria.dao.LoteCabeceraMapper">
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.LoteCabecera">
		<id column="nro_lote" property="nro_lote" jdbcType="VARCHAR" />
		<result column="tipo_pago" property="tipo_pago" jdbcType="VARCHAR" />
		<result column="banco" property="banco" jdbcType="VARCHAR" />
		<result column="moneda" property="moneda" jdbcType="VARCHAR" />
		<result column="secuencial" property="secuencial" jdbcType="INTEGER" />
		<result column="cta_banco" property="cta_banco" jdbcType="VARCHAR" />
		<result column="fec_proceso" property="fec_proceso" jdbcType="TIMESTAMP" />
		<result column="usu_creacion" property="usu_creacion" jdbcType="VARCHAR" />
		<result column="fec_creacion" property="fec_creacion" jdbcType="TIMESTAMP" />
		<result column="usu_modificacion" property="usu_modificacion" jdbcType="VARCHAR" />
		<result column="fec_modificacion" property="fec_modificacion" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insert" parameterType="com.cardif.satelite.model.LoteCabecera">
		insert into dbo.LOTE_CABECERA (nro_lote, tipo_pago, banco,
		moneda, secuencial, cta_banco,fec_proceso,
		usu_creacion, fec_creacion, usu_modificacion,
		fec_modificacion)
		values (#{nro_lote,jdbcType=VARCHAR}, #{tipo_pago,jdbcType=VARCHAR},
		#{banco,jdbcType=VARCHAR},
		#{moneda,jdbcType=VARCHAR}, #{secuencial,jdbcType=INTEGER},
		#{cta_banco,jdbcType=VARCHAR},
		#{fec_proceso,jdbcType=TIMESTAMP},
		#{usu_creacion,jdbcType=VARCHAR}, #{fec_creacion,jdbcType=TIMESTAMP}, #{usu_modificacion,jdbcType=VARCHAR},
		#{fec_modificacion,jdbcType=TIMESTAMP})
	</insert>
</mapper>