<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.configuracion.dao.ParametroAutomatMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.ParametroAutomat">
		<id column="COD_PARAM" property="codParam" jdbcType="VARCHAR" />
		<id column="COD_VALOR" property="codValor" jdbcType="VARCHAR" />
		<result column="NOMBRE_VALOR" property="nombreValor" jdbcType="VARCHAR" />
		<result column="NUM_ORDEN" property="numOrden" jdbcType="NUMERIC" />
	</resultMap>
	
	<sql id="Base_Column_List">
		COD_PARAM, COD_VALOR, NOMBRE_VALOR, NUM_ORDEN
	</sql>
	
	
	<update id="updateByPrimaryKeySelective" parameterType="com.cardif.satelite.model.ParametroAutomat">
		update PARAMETRO_AUTOMAT 
		<set>
			<if test="nombreValor != null">
				NOMBRE_VALOR = #{nombreValor,jdbcType=VARCHAR},
			</if>
			<if test="numOrden != null">
				NUM_ORDEN = #{numOrden,jdbcType=NUMERIC},
			</if>
		</set>
		where COD_PARAM = #{codParam,jdbcType=VARCHAR} AND COD_VALOR = #{codValor,jdbcType=VARCHAR}
	</update>
	
</mapper>