<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.suscripcion.dao.TramaMasterMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.TramaMaster">	
		<id 	column="ID_MASTER" property="idMaster" jdbcType="NUMERIC" />
		<result column="ID_SOCIO" property="idSocio" jdbcType="NUMERIC" />
		<result column="FECHA_INICIO" property="fechaInicio" jdbcType="TIMESTAMP"  />
		<result column="FECHA_FIN"  property="fechaFin" jdbcType="TIMESTAMP"  />
		<result column="RUTA_ARCHIVO"  property="rutaArchivo" jdbcType="NVARCHAR"  />
		<result column="ESTADO_MASTER"  property="estadoMaster" jdbcType="NVARCHAR"  />
		<result column="USUARIO_CREADOR"  property="usuarioCreacion" jdbcType="NVARCHAR"  />
		<result column="USUARIO_MODIFICACION" property="usuarioModificacion" jdbcType="NVARCHAR"  />
		<result column="FECHA_CREACION"  property="fechaCreacion" jdbcType="TIMESTAMP"  />
		<result column="FECHA_MODIFICACION"  property="fechaModificacion" jdbcType="TIMESTAMP"  />
		<result column="ESTADO"  property="estado" jdbcType="NUMERIC"  />
		<result column="NUM_REGISTROS" property="numRegistros" jdbcType="NUMERIC" />		
	</resultMap>
	
	<resultMap id="BaseResultConsulta" type="com.cardif.satelite.model.TramaMaster">	
		<id 	column="ID_MASTER" property="idMaster" jdbcType="NUMERIC" />
		<result column="ID_SOCIO" property="idSocio" jdbcType="NUMERIC" /> 
		<result column="LABEL_SOCIO" property="labelSocio" jdbcType="NVARCHAR" />
		<result column="FECHA_INICIO" property="fechaInicio" jdbcType="TIMESTAMP"  />
		<result column="FECHA_FIN"  property="fechaFin" jdbcType="TIMESTAMP"  />
		<result column="RUTA_ARCHIVO"  property="rutaArchivo" jdbcType="NVARCHAR"  />
		<result column="ESTADO_MASTER"  property="estadoMaster" jdbcType="NVARCHAR"  />
		<result column="USUARIO_CREADOR"  property="usuarioCreacion" jdbcType="NVARCHAR"  />
		<result column="USUARIO_MODIFICACION" property="usuarioModificacion" jdbcType="NVARCHAR"  />
		<result column="FECHA_CREACION"  property="fechaCreacion" jdbcType="TIMESTAMP"  />
		<result column="FECHA_MODIFICACION"  property="fechaModificacion" jdbcType="TIMESTAMP"  />
		<result column="ESTADO"  property="estado" jdbcType="NUMERIC"  />
		<result column="NUM_REGISTROS" property="numRegistros" jdbcType="NUMERIC" />		
	</resultMap>
	
	<resultMap  id="BaseDetalleMaster"  type="com.cardif.satelite.suscripcion.bean.ConsultaMasterPrecio">
		<result column="COD_SOCIO"  property="codSocio" jdbcType="NVARCHAR" />
		<result column="COD_MASTER"  property="codMaster" jdbcType="NVARCHAR" />
		<result column="CANAL"  property="canal" jdbcType="NVARCHAR" />
		<result column="MEDIO_PAGO"  property="medioPago" jdbcType="NVARCHAR" />
		<result column="USO"  property="uso" jdbcType="NVARCHAR" />
		<result column="CATEGORIA"  property="categoria" jdbcType="NVARCHAR" />
		<result column="DEPARTAMENTO"  property="departamento" jdbcType="NVARCHAR" />
		<result column="MARCA"  property="marca" jdbcType="NVARCHAR" />
		<result column="MODELO"  property="modelo" jdbcType="NVARCHAR" />
		<result column="CASO"  property="caso" jdbcType="NUMERIC" />
		<result column="NRO_ASIENTOS"  property="nroAsientos" jdbcType="NUMERIC" />
		<result column="PRIMA_TECNICA"  property="primaTecnica" jdbcType="NUMERIC" />
		<result column="PRIMA_PUBLICA"  property="primaPublica" jdbcType="NUMERIC" />
		<result column="IGV"  property="igv" jdbcType="NUMERIC" />
		<result column="DE"  property="de" jdbcType="NUMERIC" />
		<result column="FND_COMP"  property="fndComp" jdbcType="NUMERIC" />
		<result column="COM_COBRANZA"  property="comisionCobranza" jdbcType="NUMERIC" />
		<result column="COM_SOCIO"  property="comisionSocioNeto" jdbcType="NUMERIC" />
		<result column="COM_BROKER_PORCENTAJE"  property="comSocioPorcentaje" jdbcType="NUMERIC" />
		<result column="FDO_TLMK"  property="fondoMKT" jdbcType="NUMERIC" />
		<result column="FDO_TLMK_PORCENTAJE"  property="fondoMktPorcentaje" jdbcType="NUMERIC" />
		<result column="COM_BROKER"  property="comBrokerNeto" jdbcType="NUMERIC" />
		<result column="COM_BROKER_PORCENTAJE"  property="comBrokerPorcentaje" jdbcType="NUMERIC" />
		<result column="PRIMA_IGV"  property="prima" jdbcType="NUMERIC" />		
	</resultMap>
	
	<sql id="Base_Column_List">
		ID_MASTER, 
		ID_SOCIO, 
		FECHA_INICIO, 
		FECHA_FIN, 
		RUTA_ARCHIVO, 
		ESTADO_MASTER, 
		USUARIO_CREADOR, 
		USUARIO_MODIFICACION,
	    FECHA_CREACION, 
	    FECHA_MODIFICACION, 
	    ESTADO,
	    NUM_REGISTROS 
	</sql>
	
	<select id="selectAll" resultMap="BaseResultMap"> 
		SELECT		
			<include refid="Base_Column_List" />
		FROM TRAMA_MASTER
	</select>
	
	<insert id="insert" parameterType="com.cardif.satelite.model.TramaMaster" >
	
		INSERT INTO TRAMA_MASTER (
		ID_SOCIO, 
		FECHA_INICIO, 
		FECHA_FIN, 
		RUTA_ARCHIVO, 
		ESTADO_MASTER, 
		USUARIO_CREADOR, 
	    FECHA_CREACION, 
	    ESTADO,
	    NUM_REGISTROS
		)
		VALUES (
		#{idSocio,jdbcType=NUMERIC},
		#{fechaInicio,jdbcType=TIMESTAMP},
		#{fechaFin,jdbcType=TIMESTAMP},
		#{rutaArchivo,jdbcType=NVARCHAR},
		#{estadoMaster,jdbcType=NVARCHAR},
		#{usuarioCreacion,jdbcType=NVARCHAR},
		#{fechaCreacion,jdbcType=TIMESTAMP},
		#{estado,jdbcType=NUMERIC},
		#{numRegistros,jdbcType=NUMERIC}
		)
			
	</insert>
	
	
	<update id="updateBySelective" parameterType="com.cardif.satelite.model.TramaMaster">
	
		UPDATE TRAMA_MASTER
		
		<set>
			<if test=" idSocio != null">
				ID_SOCIO = #{idSocio,jdbcType=NUMERIC}, 
			</if>
			<if test=" fechaInicio != null">
				FECHA_INICIO = #{fechaInicio,jdbcType=NUMERIC},
			</if> 
			<if test=" fechaFin != null">
				FECHA_FIN = #{fechaFin,jdbcType=TIMESTAMP},
			</if> 
			<if test="rutaArchivo != null">
				RUTA_ARCHIVO = #{rutaArchivo,jdbcType=NVARCHAR}, 
			</if>
			<if test=" estadoMaster != null">
				ESTADO_MASTER = #{estadoMaster,jdbcType=NVARCHAR},
			</if>
			<if test="usuarioCreacion != null">
				USUARIO_CREADOR = #{usuarioCreacion,jdbcType=NVARCHAR},
			</if> 
			<if test=" usuarioModificacion != null">
				USUARIO_MODIFICACION = #{usuarioModificacion,jdbcType=NVARCHAR},
			</if>
			<if test=" fechaCreacion != null">
			    FECHA_CREACION = #{fechaCreacion,jdbcType=TIMESTAMP},
		    </if> 
		    <if test="fechaModificacion != null">
			    FECHA_MODIFICACION = #{fechaModificacion,jdbcType=TIMESTAMP},			    
		    </if>
		    <if test="estado != null">
		 	   ESTADO = #{estado,jdbcType=NUMERIC},		 	   		
			</if>		
			 <if test="numRegistros != null">
		 	   NUM_REGISTROS = #{numRegistros,jdbcType=NUMERIC},		 	   		
			</if>			
		</set>		
		where ID_MASTER = #{idMaster,jdbcType=NUMERIC}
	</update>
	
</mapper>