<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.soat.directo.dao.SocioDigitalesDirectoMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.soat.model.SocioDigitales">		
		<id column="ID" property="idTrama" jdbcType="DECIMAL" />
		<result column="NRO_POLIZA_PE" property="idPoliza" jdbcType="DECIMAL" />
		<result column="NUMERO_DOCUMENTO_VALORADO" property="numValorado" jdbcType="VARCHAR" />
		<result column="ESTADO_POLIZA_IMPRESION" property="estadoPoliza" jdbcType="VARCHAR" />		
	</resultMap>
	
	<update id="updateByNroPoliza" parameterType="com.cardif.satelite.soat.model.SocioDigitales">
		UPDATE 	POLIZA_PE
		SET 	NUMERO_DOCUMENTO_VALORADO =#{numValorado,jdbcType=VARCHAR}
		,		ESTADO_POLIZA_IMPRESION =#{estadoPoliza,jdbcType=VARCHAR}
		WHERE 	NRO_POLIZA_PE =#{idPoliza,jdbcType=DECIMAL}	
	</update>
	
</mapper>