<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.soat.directo.dao.TarifaExcepcionMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.soat.model.TarifaExcepcion">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="PLAN" jdbcType="VARCHAR" property="plan" />
		<result column="COBERTURA" jdbcType="NUMERIC" property="cobertura" />
		<result column="VALOR" jdbcType="DOUBLE" property="valor" />
		<result column="DEPARTAMENTO" jdbcType="VARCHAR" property="departamento" />
		<result column="USO" jdbcType="VARCHAR" property="uso" />
		<result column="CATEGORIA" jdbcType="VARCHAR" property="categoria" />
		<result column="MODELO" jdbcType="VARCHAR" property="modelo" />
		<result	column="SOCIO" jdbcType="VARCHAR" property="socio" />
		<result column="VERSION" jdbcType="NUMERIC" property="version" />
	</resultMap>
	
	<resultMap id="TarifaModeloResultMap" type="com.cardif.satelite.suscripcion.bean.TarifaModeloBean">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="NOMBRE_MODELO" jdbcType="VARCHAR" property="nombreModelo" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID, PLAN, COBERTURA, VALOR, DEPARTAMENTO, USO, CATEGORIA, MODELO, SOCIO, VERSION
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from TARIFA_EXCEPCION
		where ID = #{id,jdbcType=NUMERIC}
	</select>
	
	<insert id="insertSelective" parameterType="com.cardif.satelite.soat.model.TarifaExcepcion">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
			SELECT TARIFA_EXCEPCION_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into TARIFA_EXCEPCION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != id">
				ID,
			</if>
			<if test="null != plan">
				PLAN,
			</if>
			<if test="null != cobertura">
				COBERTURA,
			</if>
			<if test="null != valor">
				VALOR,
			</if>
			<if test="null != departamento">
				DEPARTAMENTO,
			</if>
			<if test="null != uso">
				USO,
			</if>
			<if test="null != categoria">
				CATEGORIA,
			</if>
			<if test="null != modelo">
				MODELO,
			</if>
			<if test="null != socio">
				SOCIO,
			</if>
			<if test="null != version">
				VERSION,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=NUMERIC},
			</if>
			<if test="plan != null">
				#{plan, jdbcType=VARCHAR},
			</if>
			<if test="cobertura != null">
				#{cobertura, jdbcType=NUMERIC},
			</if>
			<if test="valor != null">
				#{valor, jdbcType=DOUBLE},
			</if>
			<if test="departamento != null">
				#{departamento, jdbcType=VARCHAR},
			</if>
			<if test="uso != null">
				#{uso, jdbcType=VARCHAR},
			</if>
			<if test="categoria != null">
				#{categoria, jdbcType=VARCHAR},
			</if>
			<if test="modelo != null">
				#{modelo, jdbcType=VARCHAR},
			</if>
			<if test="socio != null">
				#{socio, jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version, jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
</mapper>