<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardif.satelite.tesoreria.dao.ChequeMapper">
	<resultMap id="BaseResultMap" type="com.cardif.satelite.tesoreria.model.Cheque">
		<id column="COD_CHEQUE" property="codigo" jdbcType="BIGINT" />
		<result column="COD_PAR" property="codigoPar" jdbcType="BIGINT" />
		<result column="BAN_CHEQUE" property="banco" jdbcType="NVARCHAR" />
		<result column="NRO_CHEQUE" property="numero" jdbcType="NVARCHAR" />
		<result column="NOM_BENEFICIARIO" property="nombreBeneficiario" jdbcType="NVARCHAR" />
		<result column="TIP_MONEDA" property="tipoMoneda" jdbcType="NVARCHAR" />
		<result column="IMP_CHEQUE" property="importe" jdbcType="NUMERIC" />
		<result column="EST_CHEQUE" property="estadoCheque" jdbcType="CHAR" />
		<result column="FEC_REGISTRO" property="fechaRegistro" jdbcType="TIMESTAMP" />
		<result column="USU_ASIGNACION" property="usuarioAsignacion" jdbcType="NVARCHAR" />
		<result column="FEC_ASIGNACION" property="fechaAsignacion" jdbcType="TIMESTAMP" />
		<result column="EST_FIRMANTE1" property="estadoFirmante1" jdbcType="CHAR" />
		<result column="USU_APROBACION1" property="usuarioAprobacion1" jdbcType="NVARCHAR" />
		<result column="FEC_APROBACION1" property="fechaAprobacion1" jdbcType="TIMESTAMP" />
		<result column="EST_FIRMANTE2" property="estadoFirmante2" jdbcType="CHAR" />
		<result column="USU_APROBACION2" property="usuarioAprobacion2" jdbcType="NVARCHAR" />
		<result column="FEC_APROBACION2" property="fechaAprobacion2" jdbcType="TIMESTAMP" />
		<result column="USU_IMPRESION" property="usuarioImpresion" jdbcType="NVARCHAR" />
		<result column="FEC_IMPRESION" property="fechaImpresion" jdbcType="TIMESTAMP" />
		<result column="MOT_RECHAZO" property="motivoRechazo" jdbcType="NVARCHAR" />
		<result column="USU_REASIGNACION" property="usuarioReasignacion" jdbcType="NVARCHAR" />
		<result column="FEC_REASIGNACION" property="fechaReasignacion" jdbcType="TIMESTAMP" />
		<result column="MOT_REASIGNACION" property="motivoReasignacion" jdbcType="NVARCHAR" />
		<result column="USU_ANULACION" property="usuarioAnulacion" jdbcType="NVARCHAR" />
		<result column="FEC_ANULACION" property="fechaAnulacion" jdbcType="TIMESTAMP" />
		<result column="MOT_ANULACION" property="motivoAnulacion" jdbcType="NVARCHAR" />
		<result column="USU_CREACION" property="usuarioCreacion" jdbcType="NVARCHAR" />
		<result column="FEC_CREACION" property="fechaCreacion" jdbcType="TIMESTAMP" />
		<result column="USU_MODIFICACION" property="usuarioModificacion" jdbcType="NVARCHAR" />
		<result column="FEC_MODIFICACION" property="fechaModificacion" jdbcType="TIMESTAMP" />
		<result column="NOM_FIRMANTE1" property="nombreFirmante1" jdbcType="NVARCHAR" />
		<result column="NOM_FIRMANTE2" property="nombreFirmante2" jdbcType="NVARCHAR" />
		<result column="COD_FIRMANTE1" property="codigoFirmante1" jdbcType="BIGINT" />
		<result column="COD_FIRMANTE2" property="codigoFirmante2" jdbcType="BIGINT" />
	</resultMap>
	<resultMap id="StringResultMap" type="java.lang.String">
		<id column="COLUMN_NAME" property="columnas" jdbcType="NVARCHAR" />
	</resultMap>

	<update id="actualizar" parameterType="com.cardif.satelite.tesoreria.model.Cheque">
		update dbo.CHEQUE
		set COD_PAR = #{codigoPar,jdbcType=BIGINT},
		BAN_CHEQUE = #{banco,jdbcType=NVARCHAR},
		NRO_CHEQUE = #{numero,jdbcType=NVARCHAR},
		NOM_BENEFICIARIO = #{nombreBeneficiario,jdbcType=NVARCHAR},
		TIP_MONEDA = #{tipoMoneda,jdbcType=NVARCHAR},
		IMP_CHEQUE = #{importe,jdbcType=NUMERIC},
		EST_CHEQUE = #{estadoCheque,jdbcType=CHAR},
		FEC_REGISTRO = #{fechaRegistro,jdbcType=TIMESTAMP},
		USU_ASIGNACION = #{usuarioAsignacion,jdbcType=NVARCHAR},
		FEC_ASIGNACION = #{fechaAsignacion,jdbcType=TIMESTAMP},
		EST_FIRMANTE1 =
		#{estadoFirmante1,jdbcType=CHAR},
		USU_APROBACION1 = #{usuarioAprobacion1,jdbcType=NVARCHAR},
		FEC_APROBACION1 = #{fechaAprobacion1,jdbcType=TIMESTAMP},
		EST_FIRMANTE2 = #{estadoFirmante2,jdbcType=CHAR},
		USU_APROBACION2 = #{usuarioAprobacion2,jdbcType=NVARCHAR},
		FEC_APROBACION2 =
		#{fechaAprobacion2,jdbcType=TIMESTAMP},
		USU_IMPRESION = #{usuarioImpresion,jdbcType=NVARCHAR},
		FEC_IMPRESION = #{fechaImpresion,jdbcType=TIMESTAMP},
		MOT_RECHAZO = #{motivoRechazo,jdbcType=NVARCHAR},
		USU_REASIGNACION = #{usuarioReasignacion,jdbcType=NVARCHAR},
		FEC_REASIGNACION =
		#{fechaReasignacion,jdbcType=TIMESTAMP},
		MOT_REASIGNACION = #{motivoReasignacion,jdbcType=NVARCHAR},
		USU_ANULACION =
		#{usuarioAnulacion,jdbcType=NVARCHAR},
		FEC_ANULACION = #{fechaAnulacion,jdbcType=TIMESTAMP},
		MOT_ANULACION = #{motivoAnulacion,jdbcType=NVARCHAR},
		USU_CREACION = #{usuarioCreacion,jdbcType=NVARCHAR},
		FEC_CREACION = #{fechaCreacion,jdbcType=TIMESTAMP},
		USU_MODIFICACION =
		#{usuarioModificacion,jdbcType=NVARCHAR},
		FEC_MODIFICACION = #{fechaModificacion,jdbcType=TIMESTAMP}
		where COD_CHEQUE = #{codigo,jdbcType=BIGINT}
	</update>


</mapper>