<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardif.satelite.tesoreria.dao.ComprobanteElectronicoMapper">
	<resultMap id="BaseResultMap" type="com.cardif.satelite.tesoreria.model.ComprobanteElectronico">
		<id column="NRO_COMPROBANTE_ELE" property="nroComprobanteElectronico" jdbcType="NVARCHAR" />
		<result column="TIPO_COMPROBANTE" property="tipoComprobante" jdbcType="NVARCHAR" />
		<result column="FECHA_EMISION" property="fechaEmision" jdbcType="TIMESTAMP" />
		<result column="PRO_TIPO_DOCUMENTO" property="proTipoDocumento" jdbcType="NVARCHAR" />
		<result column="PRO_NRO_DOCUMENTO" property="proNroDocumento" jdbcType="NVARCHAR" />
		<result column="PRO_RAZON_SOCIAL" property="proRazonSocial" jdbcType="NVARCHAR" />
		<result column="MONEDA_PAGO" property="monedaPago" jdbcType="NVARCHAR" />
		<result column="TASA_RETPER" property="tasaRetPer" jdbcType="NVARCHAR" />
		<result column="IMPORTE_RETPER" property="importeRetPer" jdbcType="NUMERIC" />
		<result column="MONEDA_RETPER" property="monedaRetPer" jdbcType="NVARCHAR" />
		<result column="IMPORTE_PAGCOB" property="importePagCob" jdbcType="NUMERIC" />
		<result column="PLANTILLA" property="plantilla" jdbcType="NVARCHAR" />
		<result column="CORREO" property="correo" jdbcType="NVARCHAR" />
		<result column="TIPO_CAMBIO" property="tipoCambio" jdbcType="NUMERIC" />
		<result column="MONTO_LETRAS" property="montoLetras" jdbcType="NVARCHAR" />
		<result column="ESTADO" property="estado" jdbcType="NVARCHAR" />
		<result column="FECHA_CREACION" property="fechaCreacion" jdbcType="TIMESTAMP" />
		<result column="CREADO_POR" property="creadoPor" jdbcType="NVARCHAR" />
		<result column="FECHA_MODIFICACION" property="fechaModificacion" jdbcType="TIMESTAMP" />
		<result column="MODIFICADO_POR" property="modificadoPor" jdbcType="NVARCHAR" />
		<result column="CAUSA_ANULACION" property="causaAnulacion" jdbcType="NVARCHAR" />
		<result column="MOTIVO_ANULACION" property="motivoAnulacion" jdbcType="NVARCHAR" />
		<result column="RESPUESTA_DTERECOVERY" property="respuestaDteRecovery" jdbcType="NVARCHAR" />
		<result column="NRO_DIARIO" property="nroDiario" jdbcType="NVARCHAR" />
		<result column="FECHA_DIGITALIZACION" property="fechaDigitalizacion" jdbcType="TIMESTAMP" />
		<result column="UNIDAD_NEGOCIO" property="unidadNegocio" jdbcType="NVARCHAR" />
		<result column="PLAZO_FECHA_SUNAT" property="plazoFechaSunat" jdbcType="NUMERIC" />
	</resultMap>

	<resultMap id="CertRetencionReversaResultMap" type="com.cardif.satelite.tesoreria.bean.ConsultaCertRetencionReversa">
		<id column="NRO_COMPROBANTE_ELE" property="nroComprobanteEle" jdbcType="NVARCHAR" />
		<result column="TIPO_COMPROBANTE" property="tipoComprobante" jdbcType="NVARCHAR" />
		<result column="NRO_DIARIO" property="nroDiario" jdbcType="NVARCHAR" />
		<result column="FECHA_EMISION" property="fechaEmision" jdbcType="TIMESTAMP" />
		<result column="MONEDA_PAGO" property="monedaPago" jdbcType="NVARCHAR" />
		<result column="IMPORTE_RETPER" property="importeRetper" jdbcType="NUMERIC" />
		<result column="PRO_NRO_DOCUMENTO" property="proNroDocumento" jdbcType="NVARCHAR" />
		<result column="PRO_TIPO_DOCUMENTO" property="proTipoDocumento" jdbcType="NVARCHAR" />
		<result column="PRO_RAZON_SOCIAL" property="proRazonSocial" jdbcType="NVARCHAR" />
		<result column="MOTIVO_ANULACION" property="motivoAnulacion" jdbcType="NVARCHAR" />
		<result column="UNIDAD_NEGOCIO" property="unidadNegocio" jdbcType="NVARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		NRO_COMPROBANTE_ELE, TIPO_COMPROBANTE, FECHA_EMISION,
		PRO_TIPO_DOCUMENTO, PRO_NRO_DOCUMENTO, PRO_RAZON_SOCIAL, MONEDA_PAGO,
		TASA_RETPER,
		IMPORTE_RETPER,
		MONEDA_RETPER, IMPORTE_PAGCOB, PLANTILLA, CORREO, TIPO_CAMBIO, MONTO_LETRAS, ESTADO,
		FECHA_CREACION, CREADO_POR, FECHA_MODIFICACION,
		MODIFICADO_POR,
		CAUSA_ANULACION, MOTIVO_ANULACION, RESPUESTA_DTERECOVERY, NRO_DIARIO,
		FECHA_DIGITALIZACION, UNIDAD_NEGOCIO, PLAZO_FECHA_SUNAT
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from dbo.COMPROBANTE_ELECTRONICO
		where NRO_COMPROBANTE_ELE =
		#{nroComprobanteElectronico,jdbcType=NVARCHAR}
	</select>


	<select id="selectByCertificadosAnulados" parameterType="com.cardif.satelite.tesoreria.model.ComprobanteElectronico" resultType="com.cardif.satelite.tesoreria.model.ComprobanteElectronico">

		SELECT
		<include refid="Base_Column_List" />
		FROM COMPROBANTE_ELECTRONICO WHERE ESTADO = #{estado,jdbcType=VARCHAR}

		<if test="nroDiario != null">
			AND NRO_DIARIO LIKE #{nroDiario,jdbcType=VARCHAR}
		</if>

		<if test="unidadNegocio != null">
			AND UNIDAD_NEGOCIO LIKE #{unidadNegocio,jdbcType=VARCHAR}
		</if>

		<if test="nroComprobanteElectronico != null">
			AND NRO_COMPROBANTE_ELE LIKE #{nroComprobanteElectronico,jdbcType=VARCHAR}
		</if>

		<if test="proNroDocumento != null">
			AND PRO_NRO_DOCUMENTO LIKE #{proNroDocumento,jdbcType=VARCHAR}
		</if>

	</select>


	<update id="actualizar" parameterType="com.cardif.satelite.tesoreria.model.ComprobanteElectronico">
		update dbo.TES_COMPROBANTE_ELECTRONICO
		set
		NRO_COMPROBANTE_ELE =
		#{nroComprobanteElectronico,jdbcType=NVARCHAR},
		TIPO_COMPROBANTE = #{tipoComprobante,jdbcType=NVARCHAR},
		FECHA_EMISION
		=
		#{fechaEmision,jdbcType=TIMESTAMP},
		PRO_TIPO_DOCUMENTO =
		#{proTipoDocumento,jdbcType=NVARCHAR},
		PRO_NRO_DOCUMENTO =
		#{proNroDocumento,jdbcType=NVARCHAR},
		PRO_RAZON_SOCIAL =
		#{proRazonSocial,jdbcType=NUMERIC},
		MONEDA_PAGO =
		#{monedaPago,jdbcType=NVARCHAR},
		TASA_RETPER =
		#{tasaRetPer,jdbcType=NVARCHAR},
		IMPORTE_RETPER =
		#{importeRetPer,jdbcType=NUMERIC},
		MONEDA_RETPER =
		#{monedaRetPer,jdbcType=NVARCHAR},
		IMPORTE_PAGCOB =
		#{importePagCob,jdbcType=NUMERIC},
		PLANTILLA =
		#{plantilla,jdbcType=NVARCHAR},
		CORREO = #{correo,jdbcType=NVARCHAR},
		TIPO_CAMBIO =
		#{tipoCambio,jdbcType=NUMERIC},
		MONTO_LETRAS =
		#{montoLetras,jdbcType=NVARCHAR},
		ESTADO = #{estado,jdbcType=NVARCHAR},
		FECHA_CREACION =
		#{fechaCreacion,jdbcType=TIMESTAMP},
		CREADO_POR =
		#{creadoPor,jdbcType=NVARCHAR},
		FECHA_MODIFICACION =
		#{fechaModificacion,jdbcType=TIMESTAMP},
		MODIFICADO_POR =
		#{modificadoPor,jdbcType=NVARCHAR},
		CAUSA_ANULACION =
		#{causaAnulacion,jdbcType=NVARCHAR},
		MOTIVO_ANULACION =
		#{motivoAnulacion,jdbcType=NVARCHAR},
		RESPUESTA_DTERECOVERY =
		#{respuestaDteRecovery,jdbcType=NVARCHAR}
		where NRO_COMPROBANTE_ELE =
		#{nroComprobanteElectronico,jdbcType=NVARCHAR}
	</update>


	<update id="updateByNroComprobanteEstado" parameterType="com.cardif.satelite.tesoreria.model.ComprobanteElectronico">
		UPDATE COMPROBANTE_ELECTRONICO
		SET ESTADO = #{estado,jdbcType=NVARCHAR},
		CAUSA_ANULACION = #{causaAnulacion,jdbcType=NVARCHAR} ,
		MOTIVO_ANULACION = #{motivoAnulacion,jdbcType=NVARCHAR},
		FECHA_MODIFICACION = getDate(),
		MODIFICADO_POR = #{modificadoPor,jdbcType=NVARCHAR},
		PLAZO_FECHA_SUNAT = #{plazoFechaSunat,jdbcType=NUMERIC}
		WHERE NRO_COMPROBANTE_ELE = #{nroComprobanteElectronico,jdbcType=NVARCHAR}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.cardif.satelite.tesoreria.model.ComprobanteElectronico">
		update dbo.COMPROBANTE_ELECTRONICO
		<set>
			<if test="tipoComprobante != null">
				TIPO_COMPROBANTE = #{tipoComprobante,jdbcType=NVARCHAR},
			</if>
			<if test="fechaEmision != null">
				FECHA_EMISION = #{fechaEmision,jdbcType=TIMESTAMP},
			</if>
			<if test="proTipoDocumento != null">
				PRO_TIPO_DOCUMENTO =
				#{proTipoDocumento,jdbcType=NVARCHAR},
			</if>
			<if test="proTipoDocumento != null">
				PRO_NRO_DOCUMENTO = #{proNroDocumento,jdbcType=NVARCHAR},
			</if>
			<if test="proTipoDocumento != null">
				PRO_RAZON_SOCIAL = #{proRazonSocial,jdbcType=NVARCHAR},
			</if>
			<if test="monedaPago != null">
				MONEDA_PAGO = #{monedaPago,jdbcType=NVARCHAR},
			</if>
			<if test="tasaRetPer != null">
				TASA_RETPER = #{tasaRetPer,jdbcType=NVARCHAR},
			</if>
			<if test="importeRetPer != null">
				IMPORTE_RETPER = #{importeRetPer,jdbcType=NUMERIC},
			</if>
			<if test="monedaRetPer != null">
				MONEDA_RETPER = #{monedaRetPer,jdbcType=NVARCHAR},
			</if>
			<if test="importePagCob != null">
				IMPORTE_PAGCOB = #{importePagCob,jdbcType=NUMERIC},
			</if>
			<if test="plantilla != null">
				PLANTILLA = #{plantilla,jdbcType=NVARCHAR},
			</if>
			<if test="correo != null">
				CORREO = #{correo,jdbcType=NVARCHAR},
			</if>
			<if test="tipoCambio != null">
				TIPO_CAMBIO = #{tipoCambio,jdbcType=NUMERIC},
			</if>
			<if test="montoLetras != null">
				MONTO_LETRAS = #{montoLetras,jdbcType=NVARCHAR},
			</if>
			<if test="estado != null">
				ESTADO = #{estado,jdbcType=NVARCHAR},
			</if>
			<if test="fechaCreacion != null">
				FECHA_CREACION = #{fechaCreacion,jdbcType=TIMESTAMP},
			</if>
			<if test="creadoPor != null">
				CREADO_POR = #{creadoPor,jdbcType=NVARCHAR},
			</if>
			<if test="fechaModificacion != null">
				FECHA_MODIFICACION =
				#{fechaModificacion,jdbcType=TIMESTAMP},
			</if>
			<if test="modificadoPor != null">
				MODIFICADO_POR = #{modificadoPor,jdbcType=NVARCHAR},
			</if>
			<if test="causaAnulacion != null">
				CAUSA_ANULACION = #{causaAnulacion,jdbcType=NVARCHAR},
			</if>
			<if test="motivoAnulacion != null">
				MOTIVO_ANULACION = #{motivoAnulacion,jdbcType=NVARCHAR},
			</if>
			<if test="respuestaDteRecovery != null">
				RESPUESTA_DTERECOVERY =
				#{respuestaDteRecovery,jdbcType=NVARCHAR},
			</if>
			<if test="nroDiario != null">
				NRO_DIARIO = #{nroDiario,jdbcType=NVARCHAR},
			</if>
			<if test="fechaDigitalizacion != null">
				FECHA_DIGITALIZACION =
				#{fechaDigitalizacion,jdbcType=TIMESTAMP},
			</if>
			<if test="unidadNegocio != null">
				UNIDAD_NEGOCIO = #{unidadNegocio,jdbcType=NVARCHAR},
			</if>
			<if test="plazoFechaSunat != null">
				PLAZO_FECHA_SUNAT = #{plazoFechaSunat,jdbcType=NUMERIC},
			</if>
		</set>
		where NRO_COMPROBANTE_ELE =
		#{nroComprobanteElectronico,jdbcType=NVARCHAR}
	</update>

	<insert id="insertSelective" parameterType="com.cardif.satelite.tesoreria.model.ComprobanteElectronico">

		<selectKey keyProperty="pk" order="AFTER" resultType="java.lang.Long">
			SELECT
			SCOPE_IDENTITY()
		</selectKey>

		insert into dbo.COMPROBANTE_ELECTRONICO

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="nroComprobanteElectronico != null">
				NRO_COMPROBANTE_ELE,
			</if>
			<if test="tipoComprobante != null">
				TIPO_COMPROBANTE,
			</if>
			<if test="fechaEmision != null">
				FECHA_EMISION,
			</if>
			<if test="proTipoDocumento != null">
				PRO_TIPO_DOCUMENTO,
			</if>
			<if test="proNroDocumento != null">
				PRO_NRO_DOCUMENTO,
			</if>
			<if test="proRazonSocial != null">
				PRO_RAZON_SOCIAL,
			</if>
			<if test="monedaPago != null">
				MONEDA_PAGO,
			</if>
			<if test="tasaRetPer != null">
				TASA_RETPER,
			</if>
			<if test="importeRetPer != null">
				IMPORTE_RETPER,
			</if>
			<if test="monedaRetPer != null">
				MONEDA_RETPER,
			</if>
			<if test="importePagCob != null">
				IMPORTE_PAGCOB,
			</if>
			<if test="plantilla != null">
				PLANTILLA,
			</if>
			<if test="correo != null">
				CORREO,
			</if>
			<if test="tipoCambio != null">
				TIPO_CAMBIO,
			</if>
			<if test="montoLetras != null">
				MONTO_LETRAS,
			</if>
			<if test="estado != null">
				ESTADO,
			</if>
			<if test="fechaCreacion != null">
				FECHA_CREACION,
			</if>
			<if test="creadoPor != null">
				CREADO_POR,
			</if>
			<if test="fechaModificacion != null">
				FECHA_MODIFICACION,
			</if>
			<if test="modificadoPor != null">
				MODIFICADO_POR,
			</if>
			<if test="causaAnulacion != null">
				CAUSA_ANULACION,
			</if>
			<if test="motivoAnulacion != null">
				MOTIVO_ANULACION,
			</if>
			<if test="respuestaDteRecovery != null">
				RESPUESTA_DTERECOVERY,
			</if>
			<if test="nroDiario != null">
				NRO_DIARIO,
			</if>
			<if test="fechaDigitalizacion != null">
				FECHA_DIGITALIZACION,
			</if>
			<if test="unidadNegocio != null">
				UNIDAD_NEGOCIO,
			</if>
			<if test="plazoFechaSunat != null">
				PLAZO_FECHA_SUNAT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="nroComprobanteElectronico != null">
				#{nroComprobanteElectronico,jdbcType=NVARCHAR},
			</if>
			<if test="tipoComprobante != null">
				#{tipoComprobante,jdbcType=NVARCHAR},
			</if>
			<if test="fechaEmision != null">
				#{fechaEmision,jdbcType=TIMESTAMP},
			</if>
			<if test="proTipoDocumento != null">
				#{proTipoDocumento,jdbcType=NVARCHAR},
			</if>
			<if test="proNroDocumento != null">
				#{proNroDocumento,jdbcType=NVARCHAR},
			</if>
			<if test="proRazonSocial != null">
				#{proRazonSocial,jdbcType=NVARCHAR},
			</if>
			<if test="monedaPago != null">
				#{monedaPago,jdbcType=NVARCHAR},
			</if>
			<if test="tasaRetPer != null">
				#{tasaRetPer,jdbcType=NVARCHAR},
			</if>
			<if test="importeRetPer != null">
				#{importeRetPer,jdbcType=NUMERIC},
			</if>
			<if test="monedaRetPer != null">
				#{monedaRetPer,jdbcType=NVARCHAR},
			</if>
			<if test="importePagCob != null">
				#{importePagCob,jdbcType=NUMERIC},
			</if>
			<if test="plantilla != null">
				#{plantilla,jdbcType=NVARCHAR},
			</if>
			<if test="correo != null">
				#{correo,jdbcType=NVARCHAR},
			</if>
			<if test="tipoCambio != null">
				#{tipoCambio,jdbcType=NUMERIC},
			</if>
			<if test="montoLetras != null">
				#{montoLetras,jdbcType=NVARCHAR},
			</if>
			<if test="estado != null">
				#{estado,jdbcType=NVARCHAR},
			</if>
			<if test="fechaCreacion != null">
				#{fechaCreacion,jdbcType=TIMESTAMP},
			</if>
			<if test="creadoPor != null">
				#{creadoPor,jdbcType=NVARCHAR},
			</if>
			<if test="fechaModificacion != null">
				#{fechaModificacion,jdbcType=TIMESTAMP},
			</if>
			<if test="modificadoPor != null">
				#{modificadoPor,jdbcType=NVARCHAR},
			</if>
			<if test="causaAnulacion != null">
				#{causaAnulacion,jdbcType=NVARCHAR},
			</if>
			<if test="motivoAnulacion != null">
				#{motivoAnulacion,jdbcType=NVARCHAR},
			</if>
			<if test="respuestaDteRecovery != null">
				#{respuestaDteRecovery,jdbcType=NVARCHAR},
			</if>
			<if test="nroDiario != null">
				#{nroDiario,jdbcType=NVARCHAR},
			</if>
			<if test="fechaDigitalizacion != null">
				#{fechaDigitalizacion,jdbcType=TIMESTAMP},
			</if>
			<if test="unidadNegocio != null">
				#{unidadNegocio,jdbcType=NVARCHAR},
			</if>
			<if test="plazoFechaSunat != null">
				#{plazoFechaSunat,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
</mapper>	
