<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardif.satelite.suscripcion.dao.DetalleTramaDiariaMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.satelite.DetalleTramaDiaria">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="ID_POLIZA" jdbcType="NUMERIC" property="idPoliza" />
		<result column="NRO_POLIZA_PE" jdbcType="VARCHAR" property="nroPolizaPe" />
		<result column="NRO_CORRELATIVO" jdbcType="VARCHAR" property="nroCorrelativo" />
		<result column="COD_CORREDOR" jdbcType="VARCHAR" property="codCorredor" />
		<result column="FEC_VENTA" jdbcType="DATE" property="fecVenta" />
		<result	column="HORA_VENTA" jdbcType="VARCHAR" property="horaVenta" />
		<result column="FEC_CARGA" jdbcType="DATE" property="fecCarga" />
		<result column="FEC_INI_VIG_POLIZA" jdbcType="DATE" property="fecIniVigencia" />
		<result column="FEC_FIN_VIG_POLIZA" jdbcType="DATE" property="fecFinVigencia" />
		<result column="PLACA" jdbcType="VARCHAR" property="placa" />
		<result column="SERIE" jdbcType="VARCHAR" property="serie" />
		<result column="MOTOR" jdbcType="VARCHAR" property="motor" />
		<result column="COLOR" jdbcType="VARCHAR" property="color" />
		<result column="COD_MARCA" jdbcType="NUMERIC" property="codMarca" />
		<result column="MARCA" jdbcType="VARCHAR" property="marca" />
		<result column="COD_MODELO" jdbcType="NUMERIC" property="codModelo" />
		<result column="MODELO" jdbcType="VARCHAR" property="modelo" />
		<result column="COD_CATEGORIA_CLASE" jdbcType="VARCHAR" property="codCategoriaClase" />
		<result column="CATEGORIA_CLASE" jdbcType="VARCHAR" property="categoriaClase" />
		<result column="COD_USO_VEHICULO" jdbcType="VARCHAR" property="codUsoVehiculo" />
		<result column="USO_VEHICULO" jdbcType="VARCHAR" property="usoVehiculo" />
		<result column="ANIO_FAB" jdbcType="NUMERIC" property="anioFab" />
		<result column="NRO_ASIENTOS" jdbcType="NUMERIC" property="nroAsientos" />
		<result column="COD_VEHICULO" jdbcType="NUMERIC" property="codVehiculo" />
		<result column="NRO_CERTIFICADO" jdbcType="VARCHAR" property="nroCertificado" />
		<result column="NRO_CERTIFICADO_ANT" jdbcType="VARCHAR" property="nroCertificadoAnt" />
		<result column="PDF_CODIFICADO_SIN_FIRMAR" jdbcType="CLOB" property="pdfCodificadoSinFirmar" />
		<result column="TIPO_PERSONA" jdbcType="VARCHAR" property="tipoPersona" />
		<result column="TIP_DOC" jdbcType="VARCHAR" property="tipDoc" />
		<result column="NUM_DOC" jdbcType="VARCHAR" property="numDoc" />
		<result column="NOM_CONTRAT" jdbcType="VARCHAR" property="nomContrat" />
		<result column="APEL_PATE_CONTRAT" jdbcType="VARCHAR" property="apelPateContrat" />
		<result column="APEL_MATE_CONTRAT" jdbcType="VARCHAR" property="apelMateContrat" />
		<result column="SEXO" jdbcType="VARCHAR" property="sexo" />
		<result column="FEC_NAC" jdbcType="DATE" property="fecNac" />
		<result column="ESTADO_CIVIL" jdbcType="VARCHAR" property="estadoCivil" />
		<result column="COD_DEPARTAMENTO" jdbcType="VARCHAR" property="codDepartamento" />
		<result column="DEPARTAMENTO" jdbcType="VARCHAR" property="departamento" />
		<result column="COD_PROVINCIA" jdbcType="VARCHAR" property="codProvincia" />
		<result column="PROVINCIA" jdbcType="VARCHAR" property="provincia" />
		<result column="COD_DISTRITO" jdbcType="VARCHAR" property="codDistrito" />
		<result column="DISTRITO" jdbcType="VARCHAR" property="distrito" />
		<result column="DIRECCION" jdbcType="VARCHAR" property="direccion" />
		<result column="TEL_FIJO" jdbcType="VARCHAR" property="telFijo" />
		<result column="TEL_MOVIL" jdbcType="VARCHAR" property="telMovil" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="COD_DEPARTAMENTO_DESP" jdbcType="VARCHAR" property="codDepartamentoDesp" />
		<result column="DEPARTAMENTO_DESP" jdbcType="VARCHAR" property="departamentoDesp" />
		<result column="COD_PROVINCIA_DESP" jdbcType="VARCHAR" property="codProvinciaDesp" />
		<result column="PROVINCIA_DESP" jdbcType="VARCHAR" property="provinciaDesp" />
		<result column="COD_DISTRITO_DESP" jdbcType="VARCHAR" property="codDistritoDesp" />
		<result column="DISTRITO_DESP" jdbcType="VARCHAR" property="distritoDesp" />
		<result column="DIRECCION_DESP" jdbcType="VARCHAR" property="direccionDesp" />
		<result column="DIR_REFERENCIA_DESP" jdbcType="VARCHAR" property="dirReferenciaDesp" />
		<result column="FRANJA_HORARIA_DESP" jdbcType="VARCHAR" property="franjaHorariaDesp" />
		<result column="FEC_DESPACHO" jdbcType="DATE" property="fecDespacho" />
		<result column="MEDIO_PAGO" jdbcType="VARCHAR" property="medioPago" />
		<result column="MONEDA" jdbcType="VARCHAR" property="moneda" />
		<result column="PRIMA_BRUTA" jdbcType="DOUBLE" property="primaBruta" />
		<result column="PRIMA_TECNICA" jdbcType="DOUBLE" property="primaTecnica" />
		<result column="IMPORTE_COBRO" jdbcType="DOUBLE" property="importeCobro" />
		<result column="IMPORTE_COBRO_DSC" jdbcType="DOUBLE" property="importeCobroDsc" />
		<result column="NUM_TARJ" jdbcType="VARCHAR" property="numTarj" />
		<result column="FEC_VENCI_TARJ" jdbcType="DATE" property="fecVenciTarj" />
		<result column="TIPO_TARJ" jdbcType="VARCHAR" property="tipoTarj" />
		<result column="COD_MASTER" jdbcType="VARCHAR" property="codMaster" />
		<result column="CANAL_VENTA" jdbcType="VARCHAR" property="canalVenta" />
		<result column="PUNTO_VENTA" jdbcType="VARCHAR" property="puntoVenta" />
		<result column="NOM_VEND" jdbcType="VARCHAR" property="nomVend" />
		<result column="FEC_COBRO" jdbcType="DATE" property="fecCobro" />
		<result column="SUB_PROD" jdbcType="VARCHAR" property="subProd" />
		<result column="PROPUESTA" jdbcType="VARCHAR" property="propuesta" />
		<result column="TRX" jdbcType="VARCHAR" property="trx" />
		<result column="VOUCHER" jdbcType="VARCHAR" property="voucher" />
		<result column="COD_TIENDA" jdbcType="VARCHAR" property="codTienda" />
		<result column="TARIF_DPTO" jdbcType="VARCHAR" property="tarifDpto" />
		<result column="PROP_ANTE" jdbcType="VARCHAR" property="propAnte" />
		<result column="NU_AP" jdbcType="VARCHAR" property="nuAp" />
		<result column="CD_REF" jdbcType="VARCHAR" property="cdRef" />
		<result column="POS" jdbcType="VARCHAR" property="pos" />
		<result column="LOTE_POS" jdbcType="VARCHAR" property="lotePos" />
		<result column="CD_RECT" jdbcType="VARCHAR" property="cdRect" />
		<result column="EST_PROP" jdbcType="VARCHAR" property="estProp" />
		<result column="DES_MEDPAG" jdbcType="VARCHAR" property="desMedpag" />
		<result column="DONDE_PAGO" jdbcType="VARCHAR" property="dondePago" />
		<result column="FEC_CARGA_REF" jdbcType="DATE" property="fecCargaRef" />
		<result column="NRO_CORRELATIVO_REF" jdbcType="VARCHAR" property="nroCorrelativoRef" />
		<result	column="ESTADO" jdbcType="VARCHAR" property="estado" />	
		<result	column="ESTADO_IMPRESION" jdbcType="VARCHAR" property="estadoImpresion" />	
		<result column="SEC_ARCHIVO" jdbcType="NUMERIC" property="secArchivo" />
	</resultMap>
		
	<resultMap id="PolizasParaArmarLoteResultMap" type="com.cardif.satelite.moduloimpresion.bean.ConsultaArmarLote">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="NRO_POLIZA_PE" jdbcType="VARCHAR" property="nroPolizaPe" />
		<result	column="PLACA" jdbcType="VARCHAR" property="placa" />
		<result	column="FEC_VENTA" jdbcType="DATE" property="fecVenta" />
		<result	column="FEC_DESPACHO" jdbcType="DATE" property="fecDespacho" />
		<result	column="COD_VEHICULO" jdbcType="NUMERIC" property="codVehiculo" />
		<result column="USO_VEHICULO" jdbcType="VARCHAR" property="usoVehiculo" />
		<result	column="DEPARTAMENTO_DESP" jdbcType="VARCHAR" property="departamentoDesp" />
		<result	column="PROVINCIA_DESP" jdbcType="VARCHAR" property="provinciaDesp" />
		<result	column="DISTRITO_DESP" jdbcType="VARCHAR" property="distritoDesp" />
		<result	column="FRANJA_HORARIA_DESP" jdbcType="VARCHAR" property="franjaHorariaDesp"/>
		<result	column="ID_PRODUCTO" jdbcType="NUMERIC" property="idProducto" />
		<result	column="NOMBRE_PRODUCTO" jdbcType="VARCHAR" property="nombreProducto" />
		<result	column="ESTADO_IMPRESION" jdbcType="VARCHAR" property="estadoImpresion" />
	</resultMap>
	
	<resultMap id="ConfirmarImpresionLoteResultMap" type="com.cardif.satelite.moduloimpresion.bean.ConsultaConfirmacionImpresion">
		<result	column="ID" jdbcType="NUMERIC" property="id" />
		<result	column="NRO_POLIZA_PE" jdbcType="NVARCHAR" property="nroPolizaPe" />
		<result	column="PLACA" jdbcType="NVARCHAR" property="placa"	/>
		<result column="FEC_INI_VIG_POLIZA" jdbcType="TIMESTAMP" property="fecIniVigencia" />
		<result column="FEC_FIN_VIG_POLIZA" jdbcType="TIMESTAMP" property="fecFinVigencia" />
		<result column="NRO_CERTIFICADO" jdbcType="NVARCHAR" property="nroCertificado" />
		<result	column="NUM_LOTE" jdbcType="NUMERIC" property="numLote" />
		<result column="ID_PRODUCTO" jdbcType="NVARCHAR" property="idProducto" />
		<result	column="IMPRESO_CORRECTAMENTE" jdbcType="NVARCHAR" property="impresoCorrectamente" />
	</resultMap>
	
	<resultMap id="DocumentoCurierResultMap" type="com.cardif.satelite.moduloimpresion.bean.ConsultaDocumentoCurier">
		<result column="NRO_DOC_CLIENTE" jdbcType="VARCHAR" property="nroDocCliente"	/>
		<result	column="NOMBRE_DESTINATARIO_GUIA" jdbcType="VARCHAR" property="nombreDestinatarioGuia"	/>
		<result	column="DIR_DESTINATARIO_GUIA" jdbcType="VARCHAR" property="dirDestinatarioGuia" />
		<result column="DIST_DESTINATARIO_GUIA" jdbcType="VARCHAR" property="distDestinatarioGuia" />
		<result column="CIUDAD_DESTINATARIO_GUIA" jdbcType="VARCHAR" property="ciudadDestinatarioGuia" />
		<result	column="PIEZAS" jdbcType="VARCHAR" property="piezas"	/>
		<result	column="TIPO_ENVIO" jdbcType="VARCHAR" property="tipoEnvio"	/>
		<result	column="VALOR_DECLARADO_GUIA" jdbcType="VARCHAR" property="valorDeclaradoGuia"	/>
		<result	column="ID_DESTINATARIO_GUIA" jdbcType="VARCHAR" property="idDestinatarioGuia" />
		<result	column="TEL_DESTINATARIO_GUIA" jdbcType="VARCHAR" property="telDestinatarioGuia" />
		<result	column="OBSERVA_GUIA" jdbcType="VARCHAR" property="observaGuia" />
		<result	column="NOMBRE_REMITENTE_GUIA" jdbcType="VARCHAR" property="nombreRemitenteGuia" />
		<result column="POLIZA" jdbcType="VARCHAR" property="poliza" />
		<result column="PLACA" jdbcType="VARCHAR" property="placa" />
		<result column="FECHA_VENTA" jdbcType="TIMESTAMP" property="fechaVenta" />
	</resultMap>
	
	<resultMap id="ConsultaPostVentaSOATResultMap" type="com.cardif.satelite.suscripcion.bean.ConsultaPostVentaSOAT">
		<result column="ID" jdbcType="NUMERIC" property="id" />
		<result	column="ID_POLIZA" jdbcType="NUMERIC" property="idPoliza"	/>
		<result column="NRO_POLIZA" jdbcType="VARCHAR" property="nroPoliza" />
		<result column="PLACA" jdbcType="VARCHAR" property="placa" />
		<result column="NRO_CERTIFICADO" jdbcType="VARCHAR" property="nroCertificado" />
		<result	column="CONTRATANTE" jdbcType="VARCHAR" property="contratante" />
		<result	column="NUM_DOC" jdbcType="VARCHAR" property="numDoc" />
		<result column="FEC_VENTA" jdbcType="TIMESTAMP" property="fecVenta" />
		<result	column="CANAL" jdbcType="VARCHAR" property="canal" />
		<result column="SOCIO_PRODUCTO" jdbcType="VARCHAR" property="socioProducto" />
		<result	column="ESTADO" jdbcType="VARCHAR" property="estado" />	
	</resultMap>
	
	<resultMap id="ConsultaVentaSOATResultMap" type="com.cardif.satelite.suscripcion.bean.RepPolizasSOATBean">
		<result column="ID" jdbcType="NUMERIC" property="pk" />
		<result	column="ID_POLIZA" jdbcType="NUMERIC" property="idPoliza"	/>
		<result column="NRO_POLIZA" jdbcType="VARCHAR" property="nroPolizaPe" />
		<result column="PLACA" jdbcType="VARCHAR" property="placa" />
		<result column="MARCA" jdbcType="VARCHAR" property="marca" />
		<result column="MODELO" jdbcType="VARCHAR" property="modelo" />
		<result column="CATEGORIA_CLASE" jdbcType="VARCHAR" property="tipVehi" />
		<result column="IMPORTE_COBRO" jdbcType="VARCHAR" property="importeCobroDsc" />
		<result	column="CONTRATANTE" jdbcType="VARCHAR" property="contratante" />
		<result	column="NUM_DOC" jdbcType="VARCHAR" property="numDoc" />
		<result column="NRO_CERTIFICADO" jdbcType="VARCHAR" property="numCertificado" />
		<result column="FEC_VENTA" jdbcType="TIMESTAMP" property="fecVenta" />
	</resultMap>
	
	<resultMap id="ReportePostVentaSOATResultMap" type="com.cardif.satelite.suscripcion.bean.ReportePostVentaSOAT">
		<result column="ID" jdbcType="NUMERIC" property="id" />
		<result column="NRO_POLIZA_PE" jdbcType="VARCHAR" property="nroPolizaPe" />
		<result column="FEC_VENTA" jdbcType="TIMESTAMP" property="fecVenta" />
		<result	column="HORA_VENTA" jdbcType="VARCHAR" property="horaVenta" />
		<result column="FEC_INI_VIG_POLIZA" jdbcType="DATE" property="fecIniVigencia" />
		<result column="FEC_FIN_VIG_POLIZA" jdbcType="DATE" property="fecFinVigencia" />
		<result column="PLACA" jdbcType="VARCHAR" property="placa" />
		<result column="SERIE" jdbcType="VARCHAR" property="serie" />
		<result column="MOTOR" jdbcType="VARCHAR" property="motor" />
		<result column="COLOR" jdbcType="VARCHAR" property="color" />
		<result column="MARCA" jdbcType="VARCHAR" property="marca" />
		<result column="MODELO" jdbcType="VARCHAR" property="modelo" />
		<result column="CATEGORIA_CLASE" jdbcType="VARCHAR" property="categoriaClase" />
		<result column="USO_VEHICULO" jdbcType="VARCHAR" property="usoVehiculo" />
		<result column="ANIO_FAB" jdbcType="NUMERIC" property="anioFab" />
		<result column="NRO_ASIENTOS" jdbcType="NUMERIC" property="nroAsientos" />
		<result column="NRO_CERTIFICADO" jdbcType="VARCHAR" property="nroCertificado" />
		<result column="NRO_CERTIFICADO_ANT" jdbcType="VARCHAR" property="nroCertificadoAnt" />
		<result column="TIPO_PERSONA" jdbcType="VARCHAR" property="tipoPersona" />
		<result column="TIP_DOC" jdbcType="VARCHAR" property="tipDoc" />
		<result column="NUM_DOC" jdbcType="VARCHAR" property="numDoc" />
		<result	column="NOM_CONTRATANTE" jdbcType="VARCHAR" property="nomContratante" />
		<result column="SEXO" jdbcType="VARCHAR" property="sexo" />
		<result column="FEC_NAC" jdbcType="VARCHAR" property="fecNac" />
		<result column="ESTADO_CIVIL" jdbcType="VARCHAR" property="estadoCivil" />
		<result column="DEPARTAMENTO" jdbcType="VARCHAR" property="departamento" />
		<result column="PROVINCIA" jdbcType="VARCHAR" property="provincia" />
		<result column="DISTRITO" jdbcType="VARCHAR" property="distrito" />
		<result column="DIRECCION" jdbcType="VARCHAR" property="direccion" />
		<result column="TEL_FIJO" jdbcType="VARCHAR" property="telFijo" />
		<result column="TEL_MOVIL" jdbcType="VARCHAR" property="telMovil" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="DEPARTAMENTO_DESP" jdbcType="VARCHAR" property="departamentoDesp" />
		<result column="PROVINCIA_DESP" jdbcType="VARCHAR" property="provinciaDesp" />
		<result column="DISTRITO_DESP" jdbcType="VARCHAR" property="distritoDesp" />
		<result column="DIRECCION_DESP" jdbcType="VARCHAR" property="direccionDesp" />
		<result column="DIR_REFERENCIA_DESP" jdbcType="VARCHAR" property="dirReferenciaDesp" />
		<result column="FRANJA_HORARIA_DESP" jdbcType="VARCHAR" property="franjaHorariaDesp" />
		<result column="FEC_DESPACHO" jdbcType="VARCHAR" property="fecDespacho" />
		<result column="MEDIO_PAGO" jdbcType="VARCHAR" property="medioPago" />
		<result column="MONEDA" jdbcType="VARCHAR" property="moneda" />
		<result column="PRIMA_BRUTA" jdbcType="DOUBLE" property="primaBruta" />
		<result column="PRIMA_TECNICA" jdbcType="DOUBLE" property="primaTecnica" />
		<result column="COD_TECNICA" jdbcType="NUMERIC" property="codTecnica" />
		<result column="IMPORTE_COBRO" jdbcType="DOUBLE" property="importeCobro" />
		<result column="IMPORTE_COBRO_DSC" jdbcType="DOUBLE" property="importeCobroDsc" />
		<result column="NUM_TARJ" jdbcType="VARCHAR" property="numTarj" />
		<result column="FEC_VENCI_TARJ" jdbcType="VARCHAR" property="fecVenciTarj" />
		<result column="TIPO_TARJ" jdbcType="VARCHAR" property="tipoTarj" />
		<result column="COD_MASTER" jdbcType="VARCHAR" property="codMaster" />
		<result	column="CANAL_VENTA" jdbcType="VARCHAR" property="canalVenta" />
		<result column="PUNTO_VENTA" jdbcType="VARCHAR" property="puntoVenta" />
		<result column="NOM_VEND" jdbcType="VARCHAR" property="nomVend" />
		<result column="FEC_COBRO" jdbcType="VARCHAR" property="fecCobro" />
		<result column="SUB_PROD" jdbcType="VARCHAR" property="subProd" />
		<result column="PROPUESTA" jdbcType="VARCHAR" property="propuesta" />
		<result column="TRX" jdbcType="VARCHAR" property="trx" />
		<result column="VOUCHER" jdbcType="VARCHAR" property="voucher" />
		<result column="COD_TIENDA" jdbcType="VARCHAR" property="codTienda" />
		<result column="TARIF_DPTO" jdbcType="VARCHAR" property="tarifDpto" />
		<result column="PROP_ANTE" jdbcType="VARCHAR" property="propAnte" />
		<result column="NU_AP" jdbcType="VARCHAR" property="nuAp" />
		<result column="CD_REF" jdbcType="VARCHAR" property="cdRef" />
		<result column="POS" jdbcType="VARCHAR" property="pos" />
		<result column="LOTE_POS" jdbcType="VARCHAR" property="lotePos" />
		<result column="CD_RECT" jdbcType="VARCHAR" property="cdRect" />
		<result column="EST_PROP" jdbcType="VARCHAR" property="estProp" />
		<result column="DES_MEDPAG" jdbcType="VARCHAR" property="desMedpag" />
		<result column="DONDE_PAGO" jdbcType="VARCHAR" property="dondePago" />
		<result column="REPORTADO_APESEG" jdbcType="VARCHAR" property="reportadoApeseg"	/>
		<result column="FEC_REPORTADO_APESEG" jdbcType="VARCHAR" property="fecReportadoApeseg" />
		<result column="REPORTADO_SBS" jdbcType="VARCHAR" property="reportadoSbs" />
		<result column="FEC_REPORTADO_SBS" jdbcType="VARCHAR" property="fecReportadoSbs" />
		<result column="NOMBRE_SOCIO" jdbcType="VARCHAR" property="nombreSocio"	/>
		<result column="NOMBRE_CANAL" jdbcType="VARCHAR" property="nombreCanal"	/>
		<result	column="ESTADO" jdbcType="VARCHAR" property="estado" />	
		<result	column="ESTADO_IMPRESION" jdbcType="VARCHAR" property="estadoImpresion" />	
	</resultMap>
	
	<resultMap id="ReporteAPESEGResultMap" type="com.cardif.satelite.reportes.bean.RepConsultaAPESEGBean">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="ID_REPORTE_APESEG" jdbcType="NUMERIC" property="idReporteApeseg" />
		<result	column="COD_CIA" jdbcType="VARCHAR" property="codCia" />
		<result	column="POL_CER" jdbcType="VARCHAR" property="polCer" />
		<result	column="TIP_TRA" jdbcType="VARCHAR" property="tipTra" />
		<result	column="FCH_CE_F" jdbcType="DATE" property="fchCeF" />
		<result	column="FCH_CE_I" jdbcType="DATE" property="fchCeI" />
		<result	column="TIP_PER" jdbcType="VARCHAR" property="tipPer" />
		<result	column="NOM_CON" jdbcType="VARCHAR" property="nomCon"	/>
		<result column="TIP_DOC" jdbcType="VARCHAR" property="tipDoc" />
		<result	column="NUM_DOC" jdbcType="VARCHAR" property="numDoc" />
		<result	column="PLACA" jdbcType="VARCHAR" property="placa" />
		<result	column="USO" jdbcType="VARCHAR" property="uso"	/>
		<result	column="CLASE" jdbcType="VARCHAR" property="clase"	/>
		<result	column="PAIS" jdbcType="VARCHAR" property="pais" />
		<result	column="TIP_ANU" jdbcType="VARCHAR" property="tipAnu" />
		<result	column="FEC_PRO" jdbcType="DATE" property="fecPro"	/>
		<result	column="FEC_ACT" jdbcType="DATE" property="fecAct"	/>
		<result	column="UBIGEO" jdbcType="VARCHAR"	property="ubigeo" />
		<result	column="NRO_MOT" jdbcType="VARCHAR" property="nroMot" />
		<result	column="NRO_CHA" jdbcType="VARCHAR" property="nroCha" />
		<result column="NOM_CANAL" jdbcType="VARCHAR" property="nomCanal" />
		<result column="NOM_SOCIO" jdbcType="VARCHAR" property="nomSocio" />
	</resultMap>
		
<!-- 	<resultMap id="RepFalabellaResultMap" type="com.cardif.satelite.reportes.bean.RepFalabellaBean"> -->
<!-- 		<id column="ID" jdbcType="NUMERIC" property="id" /> -->
<!-- 		<result column="NRO_POLIZA" jdbcType="VARCHAR" property="nroPoliza" /> -->
<!-- 		<result	column="PROPUESTA" jdbcType="VARCHAR" property="propuesta" /> -->
<!-- 		<result	column="FECHA" jdbcType="DATE" property="fecha" /> -->
<!-- 		<result	column="MOTIVO" jdbcType="VARCHAR" property="motivo" /> -->
<!-- 		<result	column="VALOR" jdbcType="VARCHAR" property="valor" /> -->
<!-- 	</resultMap> -->

	<resultMap id="RepFalabellaResultMap" type="com.cardif.satelite.reportes.bean.RepFalabellaBean">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result	column="PROPUESTA" jdbcType="VARCHAR" property="propuesta" />
		<result	column="FECHA" jdbcType="DATE" property="fecha" />
		<result	column="MOTIVO" jdbcType="VARCHAR" property="motivo" />
		<result	column="VALOR" jdbcType="VARCHAR" property="valor" />
	</resultMap>
		
	<resultMap id="RepSunatCabResultMap" type="com.cardif.satelite.reportes.bean.RepSunatCabeceraBean">
		<result column="NOMBRE_ARCHIVO" jdbcType="VARCHAR" property="nombreArchivo" />
		<result	column="NRO_REGISTROS" jdbcType="NUMERIC" property="nroRegistros" />
		<result	column="FECHA_PROCESO" jdbcType="DATE" property="fechaProceso" />
		<result	column="ESTADO_PROCESO" jdbcType="VARCHAR" property="estadoProceso" />
	</resultMap>
	
	<resultMap id="RepSunatDetalleResultMap" type="com.cardif.satelite.reportes.bean.RepSunatBean">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="RUC_INFORMANTE" jdbcType="VARCHAR" property="rucInformante" />
		<result column="TIP_DOC_ID" jdbcType="VARCHAR" property="tipDocID" />
		<result column="NUM_DOC_ID" jdbcType="VARCHAR" property="numDocID" />
		<result column="APE_PATE_PROP" jdbcType="VARCHAR" property="apePateProp" />
		<result column="APE_MATE_PROP" jdbcType="VARCHAR" property="apeMateProp" />
		<result column="NOM_PROP" jdbcType="VARCHAR" property="nomProp" />
		<result column="RAZON_SOC_PROP" jdbcType="VARCHAR" property="razonSocProp" />
		<result column="MARCA_VEHICULO" jdbcType="VARCHAR" property="marcaVehiculo" />
		<result column="ANIO_FAB" jdbcType="NUMERIC" property="anioFab" />
		<result column="COLOR_VEHICULO" jdbcType="VARCHAR" property="colorVehiculo" />
		<result column="NRO_PLACA" jdbcType="VARCHAR" property="nroPlaca" />
		<result column="USO_VEHICULO" jdbcType="VARCHAR" property="usoVehiculo" />
		<result column="CLASE_VEHICULO" jdbcType="VARCHAR" property="claseVehiculo" />
		<result column="NRO_ASIENTOS" jdbcType="NUMERIC" property="nroAsientos" />
		<result column="MODELO_VEHICULO" jdbcType="VARCHAR" property="modeloVehiculo" />
		<result column="NRO_SERIE" jdbcType="VARCHAR" property="nroSerie" />
		<result column="PROVINCIA" jdbcType="VARCHAR" property="provincia" />
		<result column="DEPARTAMENTO" jdbcType="VARCHAR" property="departamento" />
		<result column="DIRECCION" jdbcType="VARCHAR" property="direccion" />
		<result column="TELEFONO" jdbcType="VARCHAR" property="telefono" />
		<result column="FECHA_POLIZA" jdbcType="VARCHAR" property="fechaPoliza" />
		<result column="NRO_POLIZA" jdbcType="VARCHAR" property="nroPoliza" />
		<result column="MONTO_PRIMA" jdbcType="DOUBLE" property="montoPrima" />
	</resultMap>
	
	<resultMap id="RepRegistroVentaResultMap" type="com.cardif.satelite.reportes.bean.RepRegistroVentaBean">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="CORRELATIVO_REGISTRO" jdbcType="NUMERIC" property="correlativoRegistro" />
		<result column="FECHA_EMISION" jdbcType="DATE" property="fechaEmision" />
		<result column="FECHA_VENCIMIENTO" jdbcType="DATE" property="numDocID" />
		<result column="TIPO_COMPROBANTE" jdbcType="VARCHAR" property="tipoComprobante" />
		<result column="NRO_SERIE" jdbcType="VARCHAR" property="nroSerie" />
		<result column="CORRELATIVO_SERIE" jdbcType="VARCHAR" property="correlativoSerie" />
		<result column="TIPO_DOC_CLIENTE" jdbcType="VARCHAR" property="tipoDocCliente" />
		<result column="NRO_DOC_CLIENTE" jdbcType="VARCHAR" property="nroDocCliente" />
		<result column="NOMBRE_RAZON_SOCIAL" jdbcType="VARCHAR" property="nombreRazonSocial" />
		<result column="VALOR_FACT_EXPORT" jdbcType="DOUBLE" property="valorFactExport" />
		<result column="BASE_IMPONIBLE" jdbcType="DOUBLE" property="baseImponible" />
		<result column="IMPORTE_EXONERADO" jdbcType="DOUBLE" property="importeExonerado" />
		<result column="IMPORTE_INAFECTO" jdbcType="DOUBLE" property="importeInafecto" />
		<result column="IMPUESTO_ISC" jdbcType="DOUBLE" property="impuestoISC" />
		<result column="IMPUESTO_IGV" jdbcType="DOUBLE" property="impuestoIGV" />
		<result column="OTROS_IMPORTES" jdbcType="DOUBLE" property="otrosImportes" />
		<result column="IMPORTE_TOTAL" jdbcType="DOUBLE" property="importeTotal" />
		<result column="TIPO_CAMBIO" jdbcType="DOUBLE" property="tipoCambio" />
		<result column="FECHA_EMISION_REF" jdbcType="DATE" property="fechaEmisionRef" />
		<result column="TIPO_COMPROBANTE_REF" jdbcType="VARCHAR" property="tipoComprobanteRef" />
		<result column="SERIE_COMPROBANTE_REF" jdbcType="VARCHAR" property="serieComprobanteRef" />
		<result column="CORRELATIVO_SERIE_ORIG" jdbcType="VARCHAR" property="correlativoSerieOrig" />
		<result column="MODIFICABLE" jdbcType="VARCHAR" property="modificable" />
		<result column="OPEN_ITEM" jdbcType="VARCHAR" property="openItem" />
		<result column="OPEN_ITEM_REF" jdbcType="VARCHAR" property="openItemRef" />
		<result column="NRO_POLIZA" jdbcType="VARCHAR" property="nroPoliza" />
		<result column="PRODUCTO" jdbcType="VARCHAR" property="producto" />
		<result column="ESTADO" jdbcType="VARCHAR" property="estado" />
		<result column="OBSERVACION" jdbcType="VARCHAR" property="observacion" />
		
		<result column="FEC_CARGA" jdbcType="DATE" property="fechaCarga" />
		<result column="FEC_VENTA" jdbcType="DATE" property="fechaVenta" />
	</resultMap>
	
	
	<sql id="Base_Column_List">
		ID, ID_POLIZA, NRO_POLIZA_PE, COD_CORREDOR, FEC_VENTA, HORA_VENTA, FEC_INI_VIG_POLIZA, FEC_FIN_VIG_POLIZA, PLACA, SERIE, MOTOR, COLOR, COD_MARCA, MARCA, COD_MODELO, MODELO, COD_CATEGORIA_CLASE, CATEGORIA_CLASE, COD_USO_VEHICULO, USO_VEHICULO, 
		ANIO_FAB, NRO_ASIENTOS, COD_VEHICULO, NRO_CERTIFICADO, NRO_CERTIFICADO_ANT, PDF_CODIFICADO_SIN_FIRMAR, TIPO_PERSONA, TIP_DOC, NUM_DOC, NOM_CONTRAT, APEL_PATE_CONTRAT, APEL_MATE_CONTRAT, SEXO, FEC_NAC, ESTADO_CIVIL, 
		COD_DEPARTAMENTO, DEPARTAMENTO, COD_PROVINCIA, PROVINCIA, COD_DISTRITO, DISTRITO, DIRECCION, TEL_FIJO, TEL_MOVIL, EMAIL, 
		COD_DEPARTAMENTO_DESP, DEPARTAMENTO_DESP, COD_PROVINCIA_DESP, PROVINCIA_DESP, COD_DISTRITO_DESP, DISTRITO_DESP, DIRECCION_DESP, DIR_REFERENCIA_DESP, FRANJA_HORARIA_DESP, FEC_DESPACHO, 
		MEDIO_PAGO, MONEDA, PRIMA_BRUTA, PRIMA_TECNICA, IMPORTE_COBRO, IMPORTE_COBRO_DSC, NUM_TARJ, FEC_VENCI_TARJ, TIPO_TARJ, COD_MASTER, CANAL_VENTA, PUNTO_VENTA, NOM_VEND, FEC_COBRO, SUB_PROD, PROPUESTA, TRX, VOUCHER, COD_TIENDA, TARIF_DPTO, 
		PROP_ANTE, NU_AP, CD_REF, POS, LOTE_POS, CD_RECT, EST_PROP, DES_MEDPAG, DONDE_PAGO, ESTADO, ESTADO_IMPRESION, SEC_ARCHIVO
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" /> 
		from DETALLE_TRAMA_DIARIA 
		where ID = #{id,jdbcType=NUMERIC}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from DETALLE_TRAMA_DIARIA
		where ID = #{id,jdbcType=NUMERIC}
	</delete>
	
	<insert id="insert" parameterType="com.cardif.satelite.model.satelite.DetalleTramaDiaria">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
			SELECT DETALLE_TRAMA_DIARIA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into DETALLE_TRAMA_DIARIA (ID, ID_POLIZA, NRO_POLIZA_PE, LOTE, COD_CORREDOR, FEC_VENTA, HORA_VENTA, FEC_INI_VIG_POLIZA, FEC_FIN_VIG_POLIZA, PLACA, SERIE, MOTOR, COLOR, 
		COD_MARCA, MARCA, COD_MODELO, MODELO, TIPO_VEHICULO, USO_VEHICULO, ANIO_FAB, NRO_ASIENTOS, COD_VEHICULO, NRO_CERTIFICADO, CODIGO_BARRA, PDF_CODIFICADO_SIN_FIRMAR, 
		TIP_DOC, NUM_DOC, NOM_CONTRAT, APEL_PATE_CONTRAT, APEL_MATE_CONTRAT, SEXO, FEC_NAC, ESTADO_CIVIL, COD_DEPARTAMENTO, DEPARTAMENTO, COD_PROVINCIA, PROVINCIA, 
		COD_DISTRITO, DISTRITO, DIRECCION, TEL_FIJO, TEL_MOVIL, EMAIL, COD_DEPARTAMENTO_DESP, DEPARTAMENTO_DESP, COD_PROVINCIA_DESP, PROVINCIA_DESP, COD_DISTRITO_DESP, 
		DISTRITO_DESP, DIRECCION_DESP, DIR_REFERENCIA_DESP, FRANJA_HORARIA_DESP, FEC_DESPACHO, MEDIO_PAGO, MONEDA, PRIMA_BRUTA, PRIMA_TECNICA, COD_TECNICA, IMPORTE_COBRO, 
		IMPORTE_COBRO_DSC, NUM_TARJ, FEC_VENCI_TARJ, TIPO_TARJ, COD_MASTER, CANAL_VENTA, PUNTO_VENTA, COD_PROD, COD_VEND, NOM_VEND, CLASE, FEC_COBRO, SUB_PROD, PROPUESTA, TRX, 
		VOUCHER, COD_TIENDA, TARIF_DPTO, PROP_ANTE, NU_AP, CD_REF, POS, LOTE_POS, CD_RECT, EST_PROP, DES_MEDPAG, DONDE_PAGO, TIPO_TRX_APESEG, TIPO_PERSONA_APESEG, USOS_APESEG, 
		CLASES_APESEG, TIPO_ANUL_APESEG, FECHA_ACTU_ANUL, ESTADO, ESTADO_IMPRESION, SEC_ARCHIVO, POLIZA_ANULADA)
		values (#{id,jdbcType=NUMERIC}, #{idPoliza,jdbcType=NUMERIC}, #{nroPolizaPe,jdbcType=VARCHAR}, #{lote,jdbcType=NUMERIC}, #{codCorredor,jdbcType=VARCHAR}, #{fecVenta,jdbcType=DATE}, #{horaVenta,jdbcType=VARCHAR},
		#{fecIniVigencia,jdbcType=DATE}, #{fecFinVigencia,jdbcType=DATE}, #{placa,jdbcType=VARCHAR}, #{serie,jdbcType=VARCHAR}, #{motor,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
		#{codMarca,jdbcType=NUMERIC}, #{marca,jdbcType=VARCHAR}, #{codModelo,jdbcType=NUMERIC}, #{modelo,jdbcType=VARCHAR}, #{tipoVehiculo,jdbcType=VARCHAR}, #{usoVehiculo,jdbcType=VARCHAR}, 
		#{anioFab,jdbcType=NUMERIC}, #{nroAsientos,jdbcType=NUMERIC}, #{codVehiculo,jdbcType=NUMERIC}, #{nroCertificado,jdbcType=VARCHAR}, #{codigoBarra,jdbcType=VARCHAR}, #{pdfCodificadoSinFirmar,jdbcType=CLOB},  
		#{tipDoc,jdbcType=VARCHAR}, #{numDoc,jdbcType=VARCHAR}, #{nomContrat,jdbcType=VARCHAR}, #{apelPateContrat,jdbcType=VARCHAR}, #{apelMateContrat,jdbcType=VARCHAR}, #{sexo,jdbcType=VARCHAR}, 
		#{fecNac,jdbcType=DATE}, #{estadoCivil,jdbcType=VARCHAR}, #{codDepartamento,jdbcType=VARCHAR}, #{departamento,jdbcType=VARCHAR}, #{codProvincia,jdbcType=VARCHAR}, #{provincia,jdbcType=VARCHAR}, 
		#{codDistrito,jdbcType=VARCHAR}, #{distrito,jdbcType=VARCHAR}, #{direccion,jdbcType=VARCHAR}, #{telFijo,jdbcType=VARCHAR}, #{telMovil,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},  
		#{codDepartamentoDesp,jdbcType=VARCHAR}, #{departamentoDesp,jdbcType=VARCHAR}, #{codProvinciaDesp,jdbcType=VARCHAR}, #{provinciaDesp,jdbcType=VARCHAR}, #{codDistritoDesp,jdbcType=VARCHAR}, 
		#{distritoDesp,jdbcType=VARCHAR}, #{direccionDesp,jdbcType=VARCHAR}, #{dirReferenciaDesp,jdbcType=VARCHAR}, #{franjaHorariaDesp,jdbcType=VARCHAR}, #{fecDespacho,jdbcType=DATE}, 
		#{medioPago,jdbcType=VARCHAR}, #{moneda,jdbcType=VARCHAR}, #{primaBruta,jdbcType=DECIMAL}, #{primaTecnica,jdbcType=DECIMAL}, #{codTecnica,jdbcType=NUMERIC}, #{importeCobro,jdbcType=DECIMAL}, 
		#{importeCobroDsc,jdbcType=DECIMAL}, #{numTarj,jdbcType=VARCHAR}, #{fecVenciTarj,jdbcType=DATE}, #{tipoTarj,jdbcType=VARCHAR}, #{codMaster,jdbcType=VARCHAR}, #{canalVenta,jdbcType=VARCHAR}, 
		#{puntoVenta,jdbcType=VARCHAR}, #{codProd,jdbcType=VARCHAR}, #{codVend,jdbcType=NUMERIC, #{nomVend,jdbcType=VARCHAR}, #{clase,jdbcType=VARCHAR}, #{fecCobro,jdbcType=DATE}, #{subProd,jdbcType=VARCHAR}, 
		#{propuesta,jdbcType=VARCHAR}, #{trx,jdbcType=VARCHAR}, #{voucher,jdbcType=VARCHAR}, #{codTienda,jdbcType=VARCHAR}, #{tarifDpto,jdbcType=VARCHAR}, #{propAnte,jdbcType=VARCHAR}, #{nuAp,jdbcType=VARCHAR}, 
		#{cdRef,jdbcType=VARCHAR}, #{pos,jdbcType=VARCHAR}, #{lotePos,jdbcType=VARCHAR}, #{cdRect,jdbcType=VARCHAR}, #{estProp,jdbcType=VARCHAR}, #{desMedpag,jdbcType=VARCHAR}, #{dondePago,jdbcType=VARCHAR}, 
		#{tipoTrxApeseg,jdbcType=VARCHAR}, #{tipoPersonaApeseg,jdbcType=CHAR}, #{usosApeseg,jdbcType=VARCHAR}, #{clasesApeseg,jdbcType=VARCHAR}, #{tipoAnulApeseg,jdbcType=CHAR}, #{fechaActuAnul,jdbcType=TIMESTAMP}, 
		#{estado,jdbcType=VARCHAR}, #{estadoImpresion,jdbcType=VARCHAR}, #{secArchivo,jdbcType=NUMERIC}, #{polizaAnulada,jdbcType=NUMERIC})
	</insert>
			
	<update id="updateByPrimaryKeySelective" parameterType="com.cardif.satelite.model.satelite.DetalleTramaDiaria">
		update DETALLE_TRAMA_DIARIA 
		<set>
			<if test="idPoliza != null">
				ID_POLIZA = #{idPoliza,jdbcType=NUMERIC},
			</if>
			<if test="nroPolizaPe != null">
				NRO_POLIZA_PE = #{nroPolizaPe,jdbcType=VARCHAR},
			</if>
			<if test="codCorredor != null">
				COD_CORREDOR = #{codCorredor,jdbcType=VARCHAR},
			</if>
			<if test="fecVenta != null">
				FEC_VENTA = #{fecVenta,jdbcType=DATE},
			</if>
			<if test="horaVenta != null">
				HORA_VENTA = #{horaVenta,jdbcType=VARCHAR},
			</if>
			<if test="horaVenta != null">
				FEC_INI_VIG_POLIZA = #{fecIniVigencia,jdbcType=DATE},
			</if>
			<if test="horaVenta != null">
				FEC_FIN_VIG_POLIZA = #{fecFinVigencia,jdbcType=DATE},
			</if>
			<if test="placa != null">
				PLACA = #{placa,jdbcType=VARCHAR},
			</if>
			<if test="serie != null">
				SERIE = #{serie,jdbcType=VARCHAR},
			</if>
			<if test="motor != null">
				MOTOR = #{motor,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				COLOR = #{color,jdbcType=VARCHAR},
			</if>
			<if test="codMarca != null">
				COD_MARCA = #{codMarca,jdbcType=NUMERIC},
			</if>
			<if test="marca != null">
				MARCA = #{marca,jdbcType=VARCHAR},
			</if>
			<if test="codModelo != null">
				COD_MODELO = #{codModelo,jdbcType=NUMERIC},
			</if>
			<if test="modelo != null">
				MODELO = #{modelo,jdbcType=VARCHAR},
			</if>
			<if test="codCategoriaClase != null">
				COD_CATEGORIA_CLASE = #{codCategoriaClase,jdbcType=VARCHAR},
			</if>
			<if test="categoriaClase != null">
				CATEGORIA_CLASE = #{categoriaClase,jdbcType=VARCHAR},
			</if>
			<if test="codUsoVehiculo != null">
				COD_USO_VEHICULO = #{codUsoVehiculo,jdbcType=VARCHAR},
			</if>
			<if test="usoVehiculo != null">
				USO_VEHICULO = #{usoVehiculo,jdbcType=VARCHAR},
			</if>
			<if test="anioFab != null">
				ANIO_FAB = #{anioFab,jdbcType=NUMERIC},
			</if>
			<if test="nroAsientos != null">
				NRO_ASIENTOS = #{nroAsientos,jdbcType=NUMERIC},
			</if>
			<if test="codVehiculo != null">
				COD_VEHICULO = #{codVehiculo,jdbcType=NUMERIC},
			</if>
			<if test="nroCertificado != null">
				NRO_CERTIFICADO = #{nroCertificado,jdbcType=VARCHAR},
			</if>
			<if test="nroCertificadoAnt != null">
				NRO_CERTIFICADO_ANT = #{nroCertificadoAnt,jdbcType=VARCHAR},
			</if>
			<if test="pdfCodificadoSinFirmar != null">
				PDF_CODIFICADO_SIN_FIRMAR = #{pdfCodificadoSinFirmar,jdbcType=CLOB},
			</if>
			<if test="tipoPersona != null">
				TIPO_PERSONA = #{tipoPersona,jdbcType=VARCHAR},
			</if>
			<if test="tipDoc != null">
				TIP_DOC = #{tipDoc,jdbcType=VARCHAR},
			</if>
			<if test="numDoc != null">
				NUM_DOC = #{numDoc,jdbcType=VARCHAR},
			</if>
			<if test="nomContrat != null">
				NOM_CONTRAT = #{nomContrat,jdbcType=VARCHAR},
			</if>
			<if test="apelPateContrat != null">
				APEL_PATE_CONTRAT = #{apelPateContrat,jdbcType=VARCHAR},
			</if>
			<if test="apelMateContrat != null">
				APEL_MATE_CONTRAT = #{apelMateContrat,jdbcType=VARCHAR},
			</if>
			<if test="sexo != null">
				SEXO = #{sexo,jdbcType=VARCHAR},
			</if>
			<if test="fecNac != null">
				FEC_NAC = #{fecNac,jdbcType=DATE},
			</if>
			<if test="estadoCivil != null">
				ESTADO_CIVIL = #{estadoCivil,jdbcType=VARCHAR},
			</if>
			<if test="codDepartamento != null">
				COD_DEPARTAMENTO = #{codDepartamento,jdbcType=VARCHAR},
			</if>
			<if test="departamento != null">
				DEPARTAMENTO = #{departamento,jdbcType=VARCHAR},
			</if>
			<if test="codProvincia != null">
				COD_PROVINCIA = #{codProvincia,jdbcType=VARCHAR},
			</if>
			<if test="provincia != null">
				PROVINCIA = #{provincia,jdbcType=VARCHAR},
			</if>
			<if test="codDistrito != null">
				COD_DISTRITO = #{codDistrito,jdbcType=VARCHAR},
			</if>
			<if test="distrito != null">
				DISTRITO = #{distrito,jdbcType=VARCHAR},
			</if>
			<if test="direccion != null">
				DIRECCION = #{direccion,jdbcType=VARCHAR},
			</if>
			<if test="telFijo != null">
				TEL_FIJO = #{telFijo,jdbcType=VARCHAR},
			</if>
			<if test="telMovil != null">
				TEL_MOVIL = #{telMovil,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="codDepartamentoDesp != null">
				COD_DEPARTAMENTO_DESP = #{codDepartamentoDesp,jdbcType=VARCHAR},
			</if>
			<if test="departamentoDesp != null">
				DEPARTAMENTO_DESP = #{departamentoDesp,jdbcType=VARCHAR},
			</if>
			<if test="codProvinciaDesp != null">
				COD_PROVINCIA_DESP = #{codProvinciaDesp,jdbcType=VARCHAR},
			</if>
			<if test="provinciaDesp != null">
				PROVINCIA_DESP = #{provinciaDesp,jdbcType=VARCHAR},
			</if>
			<if test="codDistritoDesp != null">
				COD_DISTRITO_DESP = #{codDistritoDesp,jdbcType=VARCHAR},
			</if>
			<if test="distritoDesp != null">
				DISTRITO_DESP = #{distritoDesp,jdbcType=VARCHAR},
			</if>
			<if test="direccionDesp != null">
				DIRECCION_DESP = #{direccionDesp,jdbcType=VARCHAR},
			</if>
			<if test="dirReferenciaDesp != null">
				DIR_REFERENCIA_DESP = #{dirReferenciaDesp,jdbcType=VARCHAR},
			</if>
			<if test="franjaHorariaDesp != null">
				FRANJA_HORARIA_DESP = #{franjaHorariaDesp,jdbcType=VARCHAR},
			</if>
			<if test="fecDespacho != null">
				FEC_DESPACHO = #{fecDespacho,jdbcType=DATE},
			</if>
			<if test="medioPago != null">
				MEDIO_PAGO = #{medioPago,jdbcType=VARCHAR},
			</if>
			<if test="moneda != null">
				MONEDA = #{moneda,jdbcType=VARCHAR},
			</if>
			<if test="primaBruta != null">
				PRIMA_BRUTA = #{primaBruta,jdbcType=DOUBLE},
			</if>
			<if test="primaTecnica != null">
				PRIMA_TECNICA = #{primaTecnica,jdbcType=DOUBLE},
			</if>
			<if test="importeCobro != null">
				IMPORTE_COBRO = #{importeCobro,jdbcType=DOUBLE},
			</if>
			<if test="importeCobroDsc != null">
				IMPORTE_COBRO_DSC = #{importeCobroDsc,jdbcType=DOUBLE},
			</if>
			<if test="numTarj != null">
				"NUM_TARJ" = #{numTarj,jdbcType=VARCHAR},
			</if>
			<if test="fecVenciTarj != null">
				FEC_VENCI_TARJ = #{fecVenciTarj,jdbcType=DATE},
			</if>
			<if test="tipoTarj != null">
				TIPO_TARJ = #{tipoTarj,jdbcType=VARCHAR},
			</if>
			<if test="codMaster != null">
				COD_MASTER = #{codMaster,jdbcType=VARCHAR},
			</if>
			<if test="canalVenta != null">
				CANAL_VENTA = #{canalVenta,jdbcType=VARCHAR},
			</if>
			<if test="puntoVenta != null">
				PUNTO_VENTA = #{puntoVenta,jdbcType=VARCHAR},
			</if>
			<if test="nomVend != null">
				NOM_VEND = #{nomVend,jdbcType=VARCHAR},
			</if>
			<if test="fecCobro != null">
				FEC_COBRO = #{fecCobro,jdbcType=DATE},
			</if>
			<if test="subProd != null">
				SUB_PROD = #{subProd,jdbcType=VARCHAR},
			</if>
			<if test="propuesta != null">
				PROPUESTA = #{propuesta,jdbcType=VARCHAR},
			</if>
			<if test="trx != null">
				TRX = #{trx,jdbcType=VARCHAR},
			</if>
			<if test="voucher != null">
				VOUCHER = #{voucher,jdbcType=VARCHAR},
			</if>
			<if test="codTienda != null">
				COD_TIENDA = #{codTienda,jdbcType=VARCHAR},
			</if>
			<if test="tarifDpto != null">
				TARIF_DPTO = #{tarifDpto,jdbcType=VARCHAR},
			</if>
			<if test="propAnte != null">
				PROP_ANTE = #{propAnte,jdbcType=VARCHAR},
			</if>
			<if test="nuAp != null">
				NU_AP = #{nuAp,jdbcType=VARCHAR},
			</if>
			<if test="cdRef != null">
				CD_REF = #{cdRef,jdbcType=VARCHAR},
			</if>
			<if test="pos != null">
				POS = #{pos,jdbcType=VARCHAR},
			</if>
			<if test="lotePos != null">
				LOTE_POS = #{lotePos,jdbcType=VARCHAR},
			</if>
			<if test="cdRect != null">
				CD_RECT = #{cdRect,jdbcType=VARCHAR},
			</if>
			<if test="estProp != null">
				EST_PROP = #{estProp,jdbcType=VARCHAR},
			</if>
			<if test="desMedpag != null">
				DES_MEDPAG = #{desMedpag,jdbcType=VARCHAR},
			</if>
			<if test="dondePago != null">
				DONDE_PAGO = #{dondePago,jdbcType=VARCHAR},
			</if>
			<if test="estado != null">
				ESTADO = #{estado,jdbcType=VARCHAR},
			</if>
			<if test="estadoImpresion != null">
				ESTADO_IMPRESION = #{estadoImpresion,jdbcType=VARCHAR},
			</if>
			<if test="secArchivo != null">
				SEC_ARCHIVO = #{secArchivo,jdbcType=NUMERIC},
			</if>
		</set>
		where ID = #{id,jdbcType=NUMERIC}	
	</update>
		
	<update id="updateCertificadoAndEstadoImpresion" parameterType="map">
		update DETALLE_TRAMA_DIARIA 
		set NRO_CERTIFICADO = #{record.nroCertificado,jdbcType=VARCHAR}, 
		ESTADO_IMPRESION = #{record.estadoImpresion,jdbcType=VARCHAR} 
		where ID = #{record.id,jdbcType=NUMERIC}
	</update>
	
	<update id="updateAltaDeImpresion" parameterType="map">
		update DETALLE_TRAMA_DIARIA 
		set NRO_CERTIFICADO = #{record.nroCertificado,jdbcType=VARCHAR}, 
		NRO_CERTIFICADO_ANT = #{record.nroCertificadoAnt,jdbcType=VARCHAR},
		ESTADO_IMPRESION = #{record.estadoImpresion,jdbcType=VARCHAR} 
		where ID = #{record.id,jdbcType=NUMERIC}
	</update>
	
	<update id="updateEstadoImpresion" parameterType="map">
		update DETALLE_TRAMA_DIARIA 
		set ESTADO_IMPRESION = #{record.estadoImpresion,jdbcType=VARCHAR} 
		where ID = #{record.id,jdbcType=NUMERIC}
	</update>
</mapper>