<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardif.satelite.suscripcion.dao.DetalleTramaDiariaMotivoMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.satelite.DetalleTramaDiariaMotivo">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="MOTIVO_DSC" jdbcType="VARCHAR" property="motivoDsc"	/>
		<result column="OBSERVACION_DSC" jdbcType="VARCHAR" property="observacionDsc" />
		<result column="TIPO_MOTIVO" jdbcType="NUMERIC" property="tipoMotivo" />
		<result column="ID_DETALLE_TRAMA_DIARIA" jdbcType="NUMERIC" property="idDetalleTramaDiaria"	/>
		<result column="FECHA_CREACION" jdbcType="TIMESTAMP" property="fechaCreacion"	/>
		<result column="USU_CREACION" jdbcType="VARCHAR" property="usuCreacion"	/>
	</resultMap>
	
	<sql id="Base_Column_List">
		ID, MOTIVO_DSC, OBSERVACION_DSC, TIPO_MOTIVO, ID_DETALLE_TRAMA_DIARIA, FECHA_CREACION, USU_CREACION
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" /> 
		from DETALLE_TRAMA_DIARIA_MOTIVO 
		where ID = #{id,jdbcType=NUMERIC}
	</select>
	
	<insert id="insert" parameterType="com.cardif.satelite.model.satelite.DetalleTramaDiariaMotivo">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE">
			SELECT DET_TRAMA_DIARIA_MOTIVO_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into DETALLE_TRAMA_DIARIA_MOTIVO (ID, MOTIVO_DSC, OBSERVACION_DSC, TIPO_MOTIVO, ID_DETALLE_TRAMA_DIARIA, FECHA_CREACION, USU_CREACION) 
		values (#{id,jdbcType=NUMERIC}, #{motivoDsc,jdbcType=VARCHAR}, #{observacionDsc,jdbcType=VARCHAR}, #{tipoMotivo,jdbcType=NUMERIC}, 
		#{idDetalleTramaDiaria,jdbcType=NUMERIC}, #{fechaCreacion,jdbcType=TIMESTAMP}, #{usuCreacion,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertSelective" parameterType="com.cardif.satelite.model.satelite.DetalleTramaDiariaMotivo">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
			SELECT DET_TRAMA_DIARIA_MOTIVO_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into DETALLE_TRAMA_DIARIA_MOTIVO
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="motivoDsc != null">
				MOTIVO_DSC,
			</if>
			<if test="observacionDsc != null">
				OBSERVACION_DSC,
			</if>
			<if test="tipoMotivo != null">
				TIPO_MOTIVO,
			</if>
			<if test="idDetalleTramaDiaria != null">
				ID_DETALLE_TRAMA_DIARIA,
			</if>
			<if test="fechaCreacion != null">
				FECHA_CREACION,
			</if>
			<if test="usuCreacion != null">
				USU_CREACION,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="motivoDsc != null">
				#{motivoDsc,jdbcType=VARCHAR},
			</if>
			<if test="observacionDsc != null">
				#{observacionDsc,jdbcType=VARCHAR},
			</if>
			<if test="tipoMotivo != null">
				#{tipoMotivo,jdbcType=NUMERIC},
			</if>
			<if test="idDetalleTramaDiaria != null">
				#{idDetalleTramaDiaria,jdbcType=NUMERIC},
			</if>
			<if test="fechaCreacion != null">
				#{fechaCreacion,jdbcType=TIMESTAMP},
			</if>
			<if test="usuCreacion != null">
				#{usuCreacion,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>