<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardif.satelite.suscripcion.dao.TramaDiariaMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.satelite.TramaDiaria">
		<id column="SEC_ARCHIVO" jdbcType="NUMERIC" property="secArchivo" />
		<result column="PRODUCTO" jdbcType="NUMERIC" property="producto" />
		<result column="NOMBRE_ARCHIVO" jdbcType="VARCHAR" property="nombreArchivo" />
		<result column="NRO_REGISTROS" jdbcType="NUMERIC" property="nroRegistros" />
		<result column="FEC_CARGA" jdbcType="DATE" property="fecCarga" />
		<result column="TIPO_CARGA" jdbcType="VARCHAR" property="tipoCarga" />
		<result column="FEC_CREACION" jdbcType="TIMESTAMP" property="fecCreacion" />
		<result column="USU_CREACION" jdbcType="VARCHAR" property="usuCreacion" />
	</resultMap>
	
	<sql id="Base_Column_List">
		SEC_ARCHIVO, PRODUCTO, NOMBRE_ARCHIVO, NRO_REGISTROS, FEC_CARGA, TIPO_CARGA, FEC_CREACION, USU_CREACION
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TRAMA_DIARIA
		where SEC_ARCHIVO = #{secArchivo,jdbcType=NUMERIC}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from TRAMA_DIARIA
		where SEC_ARCHIVO = #{secArchivo,jdbcType=NUMERIC}
	</delete>
	
	<insert id="insert" parameterType="com.cardif.satelite.model.satelite.TramaDiaria">
		<selectKey keyProperty="secArchivo" order="BEFORE" resultType="java.lang.Long">
			SELECT TRAMA_DIARIA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into TRAMA_DIARIA (SEC_ARCHIVO, PRODUCTO, NOMBRE_ARCHIVO, NRO_REGISTROS, FEC_CARGA, TIPO_CARGA, FEC_CREACION, USU_CREACION)
		values (#{secArchivo,jdbcType=NUMERIC},	#{producto,jdbcType=NUMERIC}, #{nombreArchivo,jdbcType=VARCHAR}, #{nroRegistros,jdbcType=NUMERIC},
		#{fecCarga,jdbcType=DATE}, #{tipoCarga,jdbcType=VARCHAR}, #{fecCreacion,jdbcType=TIMESTAMP}, #{usuCreacion,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertSelective" parameterType="com.cardif.satelite.model.satelite.TramaDiaria">
		<selectKey keyProperty="secArchivo" order="BEFORE" resultType="java.lang.Long">
			SELECT TRAMA_DIARIA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into TRAMA_DIARIA
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="producto != null">
				PRODUCTO,
			</if>
			<if test="nombreArchivo != null">
				NOMBRE_ARCHIVO,
			</if>
			<if test="nroRegistros != null">
				NRO_REGISTROS,
			</if>
			<if test="fecCarga != null">
				FEC_CARGA,
			</if>
			<if test="tipoCarga != null">
				TIPO_CARGA,
			</if>
			<if test="fecCreacion != null">
				FEC_CREACION,
			</if>
			<if test="usuCreacion != null">
				USU_CREACION,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="producto != null">
				#{producto,jdbcType=NUMERIC},
			</if>
			<if test="nombreArchivo != null">
				#{nombreArchivo,jdbcType=VARCHAR},
			</if>
			<if test="nroRegistros != null">
				#{nroRegistros,jdbcType=NUMERIC},
			</if>
			<if test="fecCarga != null">
				#{fecCarga,jdbcType=DATE},
			</if>
			<if test="tipoCarga != null">
				#{tipoCarga,jdbcType=VARCHAR},
			</if>
			<if test="fecCreacion != null">
				#{fecCreacion,jdbcType=TIMESTAMP},
			</if>
			<if test="usuCreacion != null">
				#{usuCreacion,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>