<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.soat.comparabien.dao.MarcaVehiculoMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.soat.model.MarcaVehiculo">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="NOMBRE_MARCAVEHICULO" property="nombreMarcavehiculo" jdbcType="VARCHAR" />
		<result column="VERSION" property="version" jdbcType="DECIMAL" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID, NOMBRE_MARCAVEHICULO, VERSION
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal">
		select
		<include refid="Base_Column_List" />
		from MARCA_VEHICULO
		where ID = #{id,jdbcType=DECIMAL}
	</select>
	
	<insert id="insertSelective" parameterType="com.cardif.satelite.soat.model.MarcaVehiculo">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.math.BigDecimal">
			SELECT MARCA_VEHICULO_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into MARCA_VEHICULO
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != id">
				ID,
			</if>
			<if test="null != nombreMarcavehiculo">
				NOMBRE_MARCAVEHICULO,
			</if>
			<if test="null != version">
				VERSION,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=DECIMAL},
			</if>
			<if test="nombreMarcavehiculo != null">
				#{nombreMarcavehiculo, jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version, jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
</mapper>