<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.soat.comparabien.dao.PropietarioComparaBienMapper">
	<resultMap id="BaseResultMap" type="com.cardif.satelite.soat.model.Propietario">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="MATERNO" property="materno" jdbcType="VARCHAR" />
		<result column="NOMBRES" property="nombres" jdbcType="VARCHAR" />
		<result column="PATERNO" property="paterno" jdbcType="VARCHAR" />
		<result column="RUT_PROPIETARIO" property="rutPropietario" jdbcType="VARCHAR" />
		<result column="VERSION" property="version" jdbcType="DECIMAL" />
		<result column="FECHA_NACIMIENTO" property="fechaNacimiento" jdbcType="TIMESTAMP" />
		<result column="ID_TIPO_DCTO" property="idTipoDcto" jdbcType="DECIMAL" />
	</resultMap>


	<resultMap id="BaseResultMapRegPropietario" type="com.cardif.satelite.callcenter.bean.ConsultaRegPropietario">
		<result column="ID" jdbcType="DECIMAL" property="id" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="MATERNO" jdbcType="VARCHAR" property="materno" />
		<result column="NOMBRES" jdbcType="VARCHAR" property="nombres" />
		<result column="PATERNO" jdbcType="VARCHAR" property="paterno" />
		<result column="RUT_PROPIETARIO" jdbcType="VARCHAR" property="rutPropietario" />
		<result column="FECHA_NACIMIENTO" jdbcType="TIMESTAMP" property="fechaNacimiento" />
	</resultMap>

	<insert id="insert" parameterType="com.cardif.satelite.soat.model.Propietario">
		<selectKey resultType="java.math.BigDecimal" keyProperty="id" order="BEFORE">
			SELECT HIBERNATE_SEQUENCE.NEXTVAL FROM DUAL
		</selectKey>
		insert into PROPIETARIO (ID, EMAIL, MATERNO,
		NOMBRES, PATERNO, RUT_PROPIETARIO,
		VERSION, FECHA_NACIMIENTO, ID_TIPO_DCTO
		)
		values (#{id,jdbcType=DECIMAL}, #{email,jdbcType=VARCHAR}, #{materno,jdbcType=VARCHAR},
		#{nombres,jdbcType=VARCHAR}, #{paterno,jdbcType=VARCHAR}, #{rutPropietario,jdbcType=VARCHAR},
		#{version,jdbcType=DECIMAL}, #{fechaNacimiento,jdbcType=TIMESTAMP}, #{idTipoDcto,jdbcType=DECIMAL}
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.cardif.satelite.soat.model.Propietario">
		update PROPIETARIO
		set EMAIL = #{email,jdbcType=VARCHAR},
		MATERNO = #{materno,jdbcType=VARCHAR},
		NOMBRES = #{nombres,jdbcType=VARCHAR},
		PATERNO = #{paterno,jdbcType=VARCHAR},
		RUT_PROPIETARIO = #{rutPropietario,jdbcType=VARCHAR},
		VERSION = #{version,jdbcType=DECIMAL},
		FECHA_NACIMIENTO = #{fechaNacimiento,jdbcType=TIMESTAMP},
		ID_TIPO_DCTO = #{idTipoDcto,jdbcType=DECIMAL}
		where ID = #{id,jdbcType=DECIMAL}
	</update>
</mapper>