<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.reportes.dao.DetalleReporteAPESEGMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.reportes.DetalleReporteAPESEG">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="ID_DETALLE_TRAMA_DIARIA" jdbcType="NUMERIC" property="idDetalleTramaDiaria" />
		<result column="CLASE" jdbcType="VARCHAR" property="clase" />
		<result column="USO" jdbcType="VARCHAR" property="uso" />
		<result column="TIPO_TRX" jdbcType="VARCHAR" property="tipoTrx" />
		<result column="TIPO_ANULACION" jdbcType="VARCHAR" property="tipoAnulacion" />
		<result column="FEC_ACT_ANUL" jdbcType="DATE" property="fecActAnul" />
		<result column="REPORTADO" jdbcType="VARCHAR" property="reportado" />
		<result column="FECHA_REPORTADO" jdbcType="TIMESTAMP" property="fechaReportado" />
		<result column="FEC_CREACION" jdbcType="TIMESTAMP" property="fecCreacion" />
		<result column="USU_CREACION" jdbcType="VARCHAR" property="usuCreacion" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID, ID_DETALLE_TRAMA_DIARIA, CLASE, USO, TIPO_TRX, TIPO_ANULACION, FEC_ACT_ANUL, REPORTADO, FECHA_REPORTADO, FEC_CREACION, USU_CREACION
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from DETALLE_REPORTE_APESEG
		where ID = #{id,jdbcType=NUMERIC}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from DETALLE_REPORTE_APESEG
		where ID = #{id,jdbcType=NUMERIC}
	</delete>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.cardif.satelite.model.reportes.DetalleReporteAPESEG">
		update DETALLE_REPORTE_APESEG 
		<set>
			<if test="idDetalleTramaDiaria != null">
				ID_DETALLE_TRAMA_DIARIA = #{idDetalleTramaDiaria,jdbcType=NUMERIC},
			</if>
			<if test="clase != null">
				CLASE = #{clase,jdbcType=VARCHAR},
			</if>
			<if test="uso != null">
				USO = #{uso,jdbcType=VARCHAR},
			</if>
			<if test="tipoTrx != null">
				TIPO_TRX = #{tipoTrx,jdbcType=VARCHAR},
			</if>
			<if test="tipoAnulacion != null">
				TIPO_ANULACION = #{tipoAnulacion,jdbcType=VARCHAR},
			</if>
			
			<if test="fecActAnul != null">
				FEC_ACT_ANUL = #{fecActAnul,jdbcType=DATE},
			</if>
			<if test="reportado != null">
				REPORTADO = #{reportado,jdbcType=VARCHAR},
			</if>
			<if test="fechaReportado != null">
				FECHA_REPORTADO = #{fechaReportado,jdbcType=TIMESTAMP},
			</if>
			<if test="fecCreacion != null">
				FEC_CREACION = #{fecCreacion,jdbcType=TIMESTAMP},
			</if>
			<if test="usuCreacion != null">
				USU_CREACION = #{usuCreacion,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=NUMERIC}	
	</update>
</mapper>