<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.reportes.dao.DetalleReporteRegVentaMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.reportes.DetalleReporteRegVenta">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="TIPO_DOCUMENTO" jdbcType="VARCHAR" property="tipoDocumento" />
		<result column="NRO_DOCUMENTO" jdbcType="VARCHAR" property="nroDocumento" />
		<result column="FEC_EMISION" jdbcType="DATE" property="fecEmision" />
		<result column="NOMBRE_RAZONSOCIAL" jdbcType="VARCHAR" property="nombreRazonsocial" />
		<result column="IMPORTE_TOTAL" jdbcType="DOUBLE" property="importeTotal" />
		<result column="TIPO_COMP" jdbcType="VARCHAR" property="tipoComp" />
		<result column="ID_PRODUCTO" jdbcType="NUMERIC" property="idProducto" />
	</resultMap>
	
	<resultMap id="RepRegistroVentaResultMap" type="com.cardif.satelite.reportes.bean.RepRegistroVentaBean">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="CORRELATIVO_REGISTRO" jdbcType="NUMERIC" property="correlativoRegistro" />
		<result column="FECHA_EMISION" jdbcType="DATE" property="fechaEmision" />
		<result column="FECHA_VENCIMIENTO" jdbcType="DATE" property="numDocID" />
		<result column="TIPO_COMPROBANTE" jdbcType="VARCHAR" property="tipoComprobante" />
		<result column="NRO_SERIE" jdbcType="VARCHAR" property="nroSerie" />
		<result column="CORRELATIVO_SERIE" jdbcType="VARCHAR" property="correlativoSerie" />
		<result column="TIPO_DOC_CLIENTE" jdbcType="VARCHAR" property="tipoDocCliente" />
		<result column="NRO_DOC_CLIENTE" jdbcType="VARCHAR" property="nroDocCliente" />
		<result column="NOMBRE_RAZON_SOCIAL" jdbcType="VARCHAR" property="nombreRazonSocial" />
		<result column="VALOR_FACT_EXPORT" jdbcType="DOUBLE" property="valorFactExport" />
		<result column="BASE_IMPONIBLE" jdbcType="DOUBLE" property="baseImponible" />
		<result column="IMPORTE_EXONERADO" jdbcType="DOUBLE" property="importeExonerado" />
		<result column="IMPORTE_INAFECTO" jdbcType="DOUBLE" property="importeInafecto" />
		<result column="IMPUESTO_ISC" jdbcType="DOUBLE" property="impuestoISC" />
		<result column="IMPUESTO_IGV" jdbcType="DOUBLE" property="impuestoIGV" />
		<result column="OTROS_IMPORTES" jdbcType="DOUBLE" property="otrosImportes" />
		<result column="IMPORTE_TOTAL" jdbcType="DOUBLE" property="importeTotal" />
		<result column="TIPO_CAMBIO" jdbcType="DOUBLE" property="tipoCambio" />
		<result column="FECHA_EMISION_REF" jdbcType="DATE" property="fechaEmisionRef" />
		<result column="TIPO_COMPROBANTE_REF" jdbcType="VARCHAR" property="tipoComprobanteRef" />
		<result column="SERIE_COMPROBANTE_REF" jdbcType="VARCHAR" property="serieComprobanteRef" />
		<result column="CORRELATIVO_SERIE_ORIG" jdbcType="VARCHAR" property="correlativoSerieOrig" />
		<result column="MODIFICABLE" jdbcType="VARCHAR" property="modificable" />
		<result column="OPEN_ITEM" jdbcType="VARCHAR" property="openItem" />
		<result column="OPEN_ITEM_REF" jdbcType="VARCHAR" property="openItemRef" />
		<result column="NRO_POLIZA" jdbcType="VARCHAR" property="nroPoliza" />
		<result column="PRODUCTO" jdbcType="VARCHAR" property="producto" />
		<result column="ESTADO" jdbcType="VARCHAR" property="estado" />
		<result column="OBSERVACION" jdbcType="VARCHAR" property="observacion" />
	</resultMap>
	
	
	<sql id="Base_Column_List">
		ID, TIPO_DOCUMENTO, NRO_DOCUMENTO, FEC_EMISION, NOMBRE_RAZONSOCIAL, IMPORTE_TOTAL, TIPO_COMP, ID_PRODUCTO
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from REPORTE_SBS
		where ID = #{id,jdbcType=NUMERIC}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from REPORTE_SBS
		where ID = #{id,jdbcType=NUMERIC}
	</delete>
	
	<insert id="insertSelective" parameterType="com.cardif.satelite.model.reportes.DetalleReporteRegVenta">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
			SELECT DETALLE_REPORTE_REG_VENTA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into DETALLE_REPORTE_REG_VENTA
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != id">
				ID,
			</if>
			<if test="null != tipoDocumento">
				TIPO_DOCUMENTO,
			</if>
			<if test="null != nroDocumento">
				NRO_DOCUMENTO,
			</if>
			<if test="null != fecEmision">
				FEC_EMISION,
			</if>
			<if test="null != nombreRazonsocial">
				NOMBRE_RAZONSOCIAL,
			</if>
			<if test="null != importeTotal">
				IMPORTE_TOTAL,
			</if>
			<if test="null != tipoComp">
				TIPO_COMP,
			</if>
			<if test="null != idProducto">
				ID_PRODUCTO,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="tipoDocumento != null">
				#{tipoDocumento,jdbcType=VARCHAR},
			</if>
			<if test="nroDocumento != null">
				#{nroDocumento,jdbcType=VARCHAR},
			</if>
			<if test="fecEmision != null">
				#{fecEmision,jdbcType=DATE},
			</if>
			<if test="nombreRazonsocial != null">
				#{nombreRazonsocial,jdbcType=VARCHAR},
			</if>
			<if test="importeTotal != null">
				#{importeTotal,jdbcType=DOUBLE},
			</if>
			<if test="tipoComp != null">
				#{tipoComp,jdbcType=VARCHAR},
			</if>
			<if test="idProducto != null">
				#{idProducto,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
</mapper>