<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.reportes.dao.ReporteSBSMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.reportes.ReporteSBS">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="NOMBRE_ARCHIVO" jdbcType="VARCHAR" property="nombreArchivo" />
		<result column="ARCHIVO_ADJUNTO_EXPORTAR" jdbcType="CLOB" property="archivoAdjuntoExportar" />
		<result column="TIPO_REPORTE" jdbcType="VARCHAR" property="tipoReporte" />
		<result column="ANIO_REPORTE" jdbcType="NUMERIC" property="anioReporte" />
		<result column="PERIODO_REPORTE" jdbcType="NUMERIC" property="periodoReporte" />
		<result column="TIPO_CAMBIO" jdbcType="NUMERIC" property="tipoCambio" />
		<result column="NRO_REGISTROS" jdbcType="NUMERIC" property="nroRegistros" />
		<result column="FECHA_PROCESO" jdbcType="TIMESTAMP" property="fechaProceso" />
		<result column="ESTADO_PROCESO" jdbcType="VARCHAR" property="estadoProceso" />
	</resultMap>
			
	<resultMap id="RepConsultaSBResultMap" type="com.cardif.satelite.reportes.bean.RepConsultaSBSBean">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="NOMBRE_ARCHIVO" jdbcType="VARCHAR" property="nombreArchivo" />
		<result column="TIPO_ANEXO" jdbcType="VARCHAR" property="tipoAnexo" />
		<result column="NRO_REGISTROS" jdbcType="NUMERIC" property="nroRegistros" />
		<result column="FECHA_PROCESO" jdbcType="TIMESTAMP" property="fechaProceso" />
		<result column="ESTADO_PROCESO" jdbcType="VARCHAR" property="estadoProceso" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID, NOMBRE_ARCHIVO, ARCHIVO_ADJUNTO_EXPORTAR, TIPO_REPORTE, ANIO_REPORTE, PERIODO_REPORTE, TIPO_CAMBIO,	NRO_REGISTROS, FECHA_PROCESO, ESTADO_PROCESO
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from REPORTE_SBS
		where ID = #{id,jdbcType=NUMERIC}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from REPORTE_SBS
		where ID = #{id,jdbcType=NUMERIC}
	</delete>
	
	<insert id="insertSelective" parameterType="com.cardif.satelite.model.reportes.ReporteSBS">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
			SELECT REPORTE_SBS_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into REPORTE_SBS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != id">
				ID,
			</if>
			<if test="null != nombreArchivo">
				NOMBRE_ARCHIVO,
			</if>
			<if test="null != archivoAdjuntoExportar">
				ARCHIVO_ADJUNTO_EXPORTAR,
			</if>
			<if test="null != tipoReporte">
				TIPO_REPORTE,
			</if>
			<if test="null != anioReporte">
				ANIO_REPORTE,
			</if>
			<if test="null != periodoReporte">
				PERIODO_REPORTE,
			</if>
			<if test="null != tipoCambio">
				TIPO_CAMBIO,
			</if>
			<if test="null != nroRegistros">
				NRO_REGISTROS,
			</if>
			<if test="null != fechaProceso">
				FECHA_PROCESO,
			</if>
			<if test="null != estadoProceso">
				ESTADO_PROCESO,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="nombreArchivo != null">
				#{nombreArchivo,jdbcType=VARCHAR},
			</if>
			<if test="archivoAdjuntoExportar != null">
				#{archivoAdjuntoExportar,jdbcType=CLOB},
			</if>
			<if test="tipoReporte != null">
				#{tipoReporte,jdbcType=VARCHAR},
			</if>
			<if test="anioReporte != null">
				#{anioReporte,jdbcType=NUMERIC},
			</if>
			<if test="periodoReporte != null">
				#{periodoReporte,jdbcType=NUMERIC},
			</if>
			<if test="tipoCambio != null">
				#{tipoCambio,jdbcType=NUMERIC},
			</if>
			<if test="nroRegistros != null">
				#{nroRegistros,jdbcType=NUMERIC},
			</if>
			<if test="fechaProceso != null">
				#{fechaProceso,jdbcType=TIMESTAMP},
			</if>
			<if test="estadoProceso != null">
				#{estadoProceso,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.cardif.satelite.model.reportes.ReporteSBS">
		update REPORTE_SBS
		<set>
			<if test="nombreArchivo != null">
				NOMBRE_ARCHIVO = #{nombreArchivo,jdbcType=VARCHAR},
			</if>
			<if test="archivoAdjuntoExportar != null">
				ARCHIVO_ADJUNTO_EXPORTAR = #{archivoAdjuntoExportar,jdbcType=CLOB},
			</if>
			<if test="tipoReporte != null">
				TIPO_REPORTE = #{tipoReporte,jdbcType=VARCHAR},
			</if>
			<if test="anioReporte != null">
				ANIO_REPORTE = #{anioReporte,jdbcType=NUMERIC},
			</if>
			<if test="periodoReporte != null">
				PERIODO_REPORTE = #{periodoReporte,jdbcType=NUMERIC},
			</if>
			<if test="tipoCambio != null">
				TIPO_CAMBIO = #{tipoCambio,jdbcType=NUMERIC},
			</if>
			<if test="nroRegistros != null">
				NRO_REGISTROS = #{nroRegistros,jdbcType=NUMERIC},
			</if>
			<if test="fechaProceso != null">
				FECHA_PROCESO = #{fechaProceso,jdbcType=TIMESTAMP},
			</if>
			<if test="estadoProceso != null">
				ESTADO_PROCESO = #{estadoProceso,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=NUMERIC}
	</update>
</mapper>