<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.reportes.dao.SBSPeriodoMapper">
	
	<resultMap id="BaseResultMap" type="com.cardif.satelite.model.reportes.SBSPeriodo">
		<id column="ID" jdbcType="NUMERIC" property="id" />
		<result column="NOMBRE_PERIODO" jdbcType="VARCHAR" property="nombrePeriodo" />
		<result column="TIPO_ANEXO" jdbcType="VARCHAR" property="tipoAnexo" />
		<result column="TRIMESTRE" jdbcType="VARCHAR" property="trimestre" />
		<result column="NUM_ORDEN" jdbcType="NUMERIC" property="numOrden" />
	</resultMap> 
	
	<sql id="Base_Column_List">
		ID, NOMBRE_PERIODO, TIPO_ANEXO, TRIMESTRE, NUM_ORDEN
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from SBS_PERIODO
		where ID = #{id,jdbcType=NUMERIC}
	</select>
</mapper>