<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.soat.rpp.dao.DireccionPropietarioVehiculoRppMapper">
	<resultMap id="BaseResultMap" type="com.cardif.satelite.soat.model.DireccionPropietarioVehiculo">
		<id column="PLACA" property="placa" jdbcType="VARCHAR" />
		<result column="VERSION" property="version" jdbcType="DECIMAL" />
		<result column="DIRECCION" property="direccion" jdbcType="DECIMAL" />
		<result column="PROPIETARIO" property="propietario" jdbcType="DECIMAL" />
	</resultMap>

</mapper>