<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.soat.rpp.dao.VehiculoPeRppMapper">
	<resultMap id="BaseResultMap" type="com.cardif.satelite.soat.model.VehiculoPe">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="ANIO_VEHICULO" property="anioVehiculo" jdbcType="DECIMAL" />
		<result column="NUMERO_ASIENTO" property="numeroAsiento" jdbcType="DECIMAL" />
		<result column="NUMERO_SERIE" property="numeroSerie" jdbcType="VARCHAR" />
		<result column="PLACA" property="placa" jdbcType="VARCHAR" />
		<result column="VERSION" property="version" jdbcType="DECIMAL" />
		<result column="CATEGORIA_CLASE_VEHICULO" property="categoriaClaseVehiculo" jdbcType="VARCHAR" />
		<result column="MARCA_VEHICULO" property="marcaVehiculo" jdbcType="DECIMAL" />
		<result column="MODELO_VEHICULO" property="modeloVehiculo" jdbcType="DECIMAL" />
		<result column="USO_VEHICULO" property="usoVehiculo" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="BaseResultMapRegVehicular" type="com.cardif.satelite.callcenter.bean.ConsultaRegVehicular">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="ANIO_VEHICULO" jdbcType="DECIMAL" property="anioFabricacion" />
		<result column="NUMERO_ASIENTO" jdbcType="DECIMAL" property="nroAsiento" />
		<result column="NUMERO_SERIE" jdbcType="VARCHAR" property="serie" />
		<result column="PLACA" jdbcType="VARCHAR" property="placa" />
		<result column="CATEGORIA_CLASE_VEHICULO" jdbcType="VARCHAR" property="categoria" />
		<result column="MARCA_VEHICULO" jdbcType="DECIMAL" property="marca" />
		<result column="MODELO_VEHICULO" jdbcType="DECIMAL" property="modelo" />
		<result column="USO_VEHICULO" jdbcType="VARCHAR" property="uso" />
		<result column="DEPARTAMENTO" jdbcType="VARCHAR" property="departamento" />
		<result column="PROPIETARIO" jdbcType="VARCHAR" property="propietario" />
	</resultMap>

	<insert id="insert" parameterType="com.cardif.satelite.soat.model.VehiculoPe">

		<selectKey resultType="java.math.BigDecimal" keyProperty="id" order="BEFORE">
			SELECT HIBERNATE_SEQUENCE.NEXTVAL FROM DUAL
		</selectKey>
		insert into VEHICULO_PE (ID, ANIO_VEHICULO, NUMERO_ASIENTO,
		NUMERO_SERIE, PLACA, VERSION,
		CATEGORIA_CLASE_VEHICULO, MARCA_VEHICULO,
		MODELO_VEHICULO, USO_VEHICULO)
		values (#{id,jdbcType=DECIMAL}, #{anioVehiculo,jdbcType=DECIMAL}, #{numeroAsiento,jdbcType=DECIMAL},
		#{numeroSerie,jdbcType=VARCHAR}, #{placa,jdbcType=VARCHAR}, #{version,jdbcType=DECIMAL},
		#{categoriaClaseVehiculo,jdbcType=VARCHAR}, #{marcaVehiculo,jdbcType=DECIMAL},
		#{modeloVehiculo,jdbcType=DECIMAL}, #{usoVehiculo,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.cardif.satelite.soat.model.VehiculoPe">
		update VEHICULO_PE
		set ANIO_VEHICULO = #{anioVehiculo,jdbcType=DECIMAL},
		NUMERO_ASIENTO = #{numeroAsiento,jdbcType=DECIMAL},
		NUMERO_SERIE = #{numeroSerie,jdbcType=VARCHAR},
		PLACA = #{placa,jdbcType=VARCHAR},
		VERSION = #{version,jdbcType=DECIMAL},
		CATEGORIA_CLASE_VEHICULO = #{categoriaClaseVehiculo,jdbcType=VARCHAR},
		MARCA_VEHICULO = #{marcaVehiculo,jdbcType=DECIMAL},
		MODELO_VEHICULO = #{modeloVehiculo,jdbcType=DECIMAL},
		USO_VEHICULO = #{usoVehiculo,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=DECIMAL}
	</update>
</mapper>