<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.soat.falabella.dao.DireccionPropietarioVehiculoMapper">
	<resultMap id="BaseResultMap" type="com.cardif.satelite.soat.model.DireccionPropietarioVehiculo">
		<id column="PLACA" property="placa" jdbcType="VARCHAR" />
		<result column="VERSION" property="version" jdbcType="DECIMAL" />
		<result column="DIRECCION" property="direccion" jdbcType="DECIMAL" />
		<result column="PROPIETARIO" property="propietario" jdbcType="DECIMAL" />
	</resultMap>

	<sql id="Base_Column_List">
		PLACA, VERSION, DIRECCION, PROPIETARIO
	</sql>

	<insert id="insert" parameterType="com.cardif.satelite.soat.model.DireccionPropietarioVehiculo">
		insert into DIRECCION_PROPIETARIO_VEHICULO (PLACA, VERSION, DIRECCION,
		PROPIETARIO)
		values (#{placa,jdbcType=VARCHAR}, #{version,jdbcType=DECIMAL}, #{direccion,jdbcType=DECIMAL},
		#{propietario,jdbcType=DECIMAL})
	</insert>


	<update id="updateByPrimaryKey" parameterType="com.cardif.satelite.soat.model.DireccionPropietarioVehiculo">
		update DIRECCION_PROPIETARIO_VEHICULO
		set VERSION = #{version,jdbcType=DECIMAL},
		DIRECCION = #{direccion,jdbcType=DECIMAL},
		PROPIETARIO = #{propietario,jdbcType=DECIMAL}
		where PLACA = #{placa,jdbcType=VARCHAR}
	</update>
</mapper>