<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardif.satelite.soat.falabella.dao.ProvinciaMapper">
	<resultMap id="BaseResultMap" type="com.cardif.satelite.soat.model.Provincia">
		<id column="COD_PROVINCIA" jdbcType="VARCHAR" property="codProvincia" />
		<result column="NOMBRE_PROVINCIA" jdbcType="VARCHAR" property="nombreProvincia" />
		<result column="VERSION" jdbcType="DECIMAL" property="version" />
		<result column="DEPARTAMENTO" jdbcType="VARCHAR" property="departamento" />
	</resultMap>

	<sql id="Base_Column_List">
		COD_PROVINCIA, NOMBRE_PROVINCIA, VERSION, DEPARTAMENTO
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from PROVINCIA
		where COD_PROVINCIA = #{codProvincia,jdbcType=VARCHAR}
	</select>

	<insert id="insert" parameterType="com.cardif.satelite.soat.model.Provincia">
		insert into PROVINCIA (COD_PROVINCIA, NOMBRE_PROVINCIA, VERSION,
		DEPARTAMENTO)
		values (#{codProvincia,jdbcType=VARCHAR}, #{nombreProvincia,jdbcType=VARCHAR}, #{version,jdbcType=DECIMAL},
		#{departamento,jdbcType=VARCHAR})
	</insert>
</mapper>