<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cardif.satelite.soat.sucursal.dao.OrdenCompraPeMapper">
	<resultMap id="BaseResultMap" type="com.cardif.satelite.soat.model.OrdenCompraPe">
		<id column="ORDEN_COMPRA" property="ordenCompra" jdbcType="NUMERIC" />
		<result column="CODIGO_SOCIO" property="codigoSocio" jdbcType="VARCHAR" />
		<result column="ESTADO_PAGO" property="estadoPago" jdbcType="VARCHAR" />
		<result column="FECHA" property="fecha" jdbcType="DATE" />
		<result column="GLOSA_ESTADO_PAGO" property="glosaEstadoPago" jdbcType="VARCHAR" />
		<result column="HORA" property="hora" jdbcType="VARCHAR" />
		<result column="MONTO" property="monto" jdbcType="DECIMAL" />
		<result column="NUMERO_TRANSACCION" property="numeroTransaccion" jdbcType="VARCHAR" />
		<result column="VERSION" property="version" jdbcType="NUMERIC" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ORDEN_COMPRA, CODIGO_SOCIO, ESTADO_PAGO, FECHA, GLOSA_ESTADO_PAGO, HORA, MONTO, NUMERO_TRANSACCION, VERSION
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" /> 
		from ORDEN_COMPRA_PE  
		where ORDEN_COMPRA = #{ordenCompra,jdbcType=NUMERIC}
	</select>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.cardif.satelite.soat.model.OrdenCompraPe">
		update ORDEN_COMPRA_PE 
		<set>
			<if test="codigoSocio != null">
				CODIGO_SOCIO = #{codigoSocio,jdbcType=VARCHAR},
			</if>
			<if test="estadoPago != null">
				ESTADO_PAGO = #{estadoPago,jdbcType=VARCHAR},
			</if>
			<if test="fecha != null">
				FECHA = #{fecha,jdbcType=DATE},
			</if>
			<if test="glosaEstadoPago != null">
				GLOSA_ESTADO_PAGO = #{glosaEstadoPago,jdbcType=VARCHAR},
			</if>
			<if test="hora != null">
				HORA = #{hora,jdbcType=VARCHAR},
			</if>
			<if test="monto != null">
				MONTO = #{monto,jdbcType=DECIMAL},
			</if>
			<if test="numeroTransaccion != null">
				NUMERO_TRANSACCION = #{numeroTransaccion,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				VERSION = #{version,jdbcType=NUMERIC},
			</if>
		</set>
		where ORDEN_COMPRA = #{ordenCompra,jdbcType=NUMERIC}
	</update>
</mapper>